{{! Copyright (c) 2020, the Dart project authors.  Please see the AUTHORS file
    for details. All rights reserved. Use of this source code is governed by a
    BSD-style license that can be found in the LICENSE file. }}

{{#has_ff}}
<div class="home-block home-block-ff">
  <div class="home-block-content">
    <h1 class="home-block-title">Flutter Favorites</h1>
    {{& ff_mini_list_html }}
    <div class="home-block-view-all">
      <a class="home-block-view-all-link" href="{{& ff_view_all_url}}">View all</a>
    </div>
  </div>
</div>
{{/has_ff}}

{{#has_mp}}
<div class="home-block home-block-mp">
  <div class="home-block-image">
    <img src="{{& static_assets.img__landing-01_png}}" />
  </div>
  <div class="home-block-content">
    <h1 class="home-block-title">Most popular packages</h1>
    {{& mp_mini_list_html }}
    <div class="home-block-view-all">
      <a class="home-block-view-all-link" href="{{& mp_view_all_url}}">View all</a>
    </div>
  </div>
</div>
{{/has_mp}}

{{#has_tf}}
<div class="home-block home-block-tf">
  <div class="home-block-content">
    <h1 class="home-block-title">Top Flutter packages</h1>
    {{& tf_mini_list_html }}
    <div class="home-block-view-all">
      <a class="home-block-view-all-link" href="{{& tf_view_all_url}}">View all</a>
    </div>
  </div>
  <div class="home-block-image">
    <img src="{{& static_assets.img__landing-02_png}}" />
  </div>
</div>
{{/has_tf}}

{{#has_td}}
<div class="home-block home-block-td">
  <div class="home-block-image">
    <img src="{{& static_assets.img__landing-03_png}}" />
  </div>
  <div class="home-block-content">
    <h1 class="home-block-title">Top Dart packages</h1>
    {{& td_mini_list_html }}
    <div class="home-block-view-all">
      <a class="home-block-view-all-link" href="{{& td_view_all_url}}">View all</a>
    </div>
  </div>
</div>
{{/has_td}}
