{{! Copyright (c) 2020, the Dart project authors.  Please see the AUTHORS file
    for details. All rights reserved. Use of this source code is governed by a
    BSD-style license that can be found in the LICENSE file. }}

<div class="pkg-report">
{{#sections}}
  <div class="pkg-report-section foldable">
    <div class="pkg-report-header foldable-button">
      <div class="pkg-report-header-icon">
        {{#is_green}}
          <img src="{{& static_assets.img__report-ok-icon-green_svg }}" class="pkg-report-icon" />
        {{/is_green}}
        {{#is_yellow}}
          <img src="{{& static_assets.img__report-missing-icon-yellow_svg }}" class="pkg-report-icon" />
        {{/is_yellow}}
        {{#is_red}}
          <img src="{{& static_assets.img__report-missing-icon-red_svg }}" class="pkg-report-icon" />
        {{/is_red}}
      </div>
      <div class="pkg-report-header-title">{{ title }}</div>
      <div class="pkg-report-header-score{{#is_red}} -is-red{{/is_red}}">
        <span class="pkg-report-header-score-granted">{{grantedPoints}}</span>
        /
        <span class="pkg-report-header-score-max">{{maxPoints}}</span>
        <img src="{{& static_assets.img__report-foldable-icon_svg }}" class="foldable-icon" />
      </div>
    </div>
    <div class="foldable-content">
      <div class="pkg-report-content">
        <div class="pkg-report-content-icon"></div>
        <div class="pkg-report-content-summary markdown-content">
          {{& summary_html }}
        </div>
        <div class="pkg-report-content-score"></div>
      </div>
    </div>
  </div>
{{/sections}}
</div>
