{{! Copyright (c) 2020, the Dart project authors.  Please see the AUTHORS file
    for details. All rights reserved. Use of this source code is governed by a
    BSD-style license that can be found in the LICENSE file. }}

<table id='scores-table'>
  <tr>
    <td class="score-name">
      <div class="tooltip-base hoverable">
        <span class="tooltip-dotted">Popularity:</span>
        <div class="tooltip-content">
          Describes how popular the package is relative to other packages.
          <a href="/help#popularity">[more]</a>
        </div>
      </div>
    </td>
    <td class="score-value">{{& popularity_html }}</td>
  </tr>
  <tr>
    <td class="score-name">
      <div class="tooltip-base hoverable">
        <span class="tooltip-dotted">Health:</span>
        <div class="tooltip-content">
          Code health derived from static analysis.
          <a href="/help#health">[more]</a>
        </div>
      </div>
    </td>
    <td class="score-value">{{& health_html }}</td>
  </tr>
  <tr>
    <td class="score-name">
      <div class="tooltip-base hoverable">
        <span class="tooltip-dotted">Maintenance:</span>
        <div class="tooltip-content">
          Reflects how tidy and up-to-date the package is.
          <a href="/help#maintenance">[more]</a>
        </div>
      </div>
    </td>
    <td class="score-value">{{& maintenance_html }}</td>
  </tr>
  <tr>
    <td class="score-name">
      <div class="tooltip-base hoverable">
        <span class="tooltip-dotted"><b>Overall:</b></span>
        <div class="tooltip-content">
          Weighted score of the above.
          <a href="/help#overall-score">[more]</a>
        </div>
      </div>
    </td>
    <td>{{& overall_html }}</td>
  </tr>
</table>
