{{! Copyright (c) 2020, the Dart project authors.  Please see the AUTHORS file
    for details. All rights reserved. Use of this source code is governed by a
    BSD-style license that can be found in the LICENSE file. }}

<div class="score-percent-row">
  <div class="score-category-label">{{category_label}}</div>
  <div class="score-percent">{{score}}</div>
</div>

<div class="score-progress-row">
  <div class="score-progress-frame">
    <div class="score-progress" style="width: {{percent}}%"></div>
  </div>
</div>
