{{! Copyright (c) 2018, the Dart project authors.  Please see the AUTHORS file
    for details. All rights reserved. Use of this source code is governed by a
    BSD-style license that can be found in the LICENSE file. }}

<div class="score-key-figures">
  {{& like_key_figure_html }}
  {{& pubpoints_key_figure_html }}
  {{& popularity_key_figure_html }}
</div>

{{#show_discontinued}}
<p class="analysis-info">This package is not analyzed, because it is discontinued.</p>
{{/show_discontinued}}
{{#show_outdated}}
<p>
  This package version is not analyzed, because it is more than two years old.
  Check the <a href="{{& analysis_tab_url}}">latest stable version</a> for its analysis.
</p>
{{/show_outdated}}
{{#show_legacy}}
  <p class="analysis-info">
  The package version is not analyzed, because it does not support Dart 2.
  Until this is resolved, the package will receive a health and maintenance score of 0.
</p>
{{/show_legacy}}
{{#show_awaiting}}
  <p class="analysis-info">
    The analysis of the package has not been completed yet.
  </p>
{{/show_awaiting}}
{{#show_analysis}}
<p class="analysis-info">
  We analyzed this package on {{ date_completed }}, and awarded it {{ granted_points }}
  pub points (of a possible {{ max_points }}):
</p>
{{/show_analysis}}

{{& report_html }}
