{{! Copyright (c) 2019, the Dart project authors.  Please see the AUTHORS file
    for details. All rights reserved. Use of this source code is governed by a
    BSD-style license that can be found in the LICENSE file. }}

<div id="-admin-unauthenticated">
  <p>
    Package administration is for signed-in users only.
  </p>
</div>

<div id="-admin-unauthorized">
  <p>You are not admin of this package.</p>
</div>

<div id="-admin-authorized">
  <h2>Admin package</h2>

    <h3>Publisher</h3>
    {{^has_publisher}}
    <div>
      <p>
        You can transfer your package to a publisher (if you are also an admin of the given publisher).
        The current uploaders will lose access over the package, and only the publisher's administrators
        will be able to upload new versions.
      </p>
      <p>
        <input id="-admin-set-publisher-input" class="pub-input" placeholder="publisher e.g. example.com"/>
        <button id="-admin-set-publisher-button" class="pub-button">Transfer to publisher</button>
      </p>
    </div>
    {{/has_publisher}}
    {{#has_publisher}}
    <div>
      <p>
        You can transfer your package away from the current publisher (<code>{{publisher_id}}</code>).
        The publisher's current administrators will lose access over the package, and you will become
        the single authorized uploader.
      </p>
      <p>
        <button id="-admin-remove-publisher-button" class="pub-button">Remove from publisher</button>
      </p>
    </div>
    {{/has_publisher}}

    <h3>Discontinued</h3>
    {{^is_discontinued}}
    <div>
      <p>
        If you are no longer developing the package, you can mark it as discontinued.
        The package will still remain available, but pub site won't run analysis on it,
        and we won't display it in search results.
      </p>
      <p>
        <button class="-admin-is-discontinued-toggle pub-button">Mark as "discontinued".</button>
      </p>
    </div>
    {{/is_discontinued}}
    {{#is_discontinued}}
    <div>
      <p>
        If you want to continue developing the package, you can remove its discontinued
        status. Pub site will run analysis on it again, and we will include it in search results.
      </p>
      <p>
        <button class="-admin-is-discontinued-toggle pub-button">Remove "discontinued".</button>
      </p>
    </div>
    {{/is_discontinued}}
</div>
