{{! Copyright (c) 2019, the Dart project authors.  Please see the AUTHORS file
    for details. All rights reserved. Use of this source code is governed by a
    BSD-style license that can be found in the LICENSE file. }}

Published <span>{{short_created}}</span>
{{#publisher_id}}
&bull; <a class="-pub-publisher" href="{{& publisher_url}}"><img
          class="-pub-publisher-shield"
          height="22" width="22"
          title="Published by a pub.dev verified publisher"
          src="/static/img/verified-publisher-blue.svg" />{{publisher_id}}</a>
{{/publisher_id}}
<!-- &bull; Downloads: X -->
{{#latest.show_updated}}
  &bull; Updated:
  <span><a href="{{& latest.stable_url}}">{{latest.stable_version}}</a></span>
  {{#latest.show_dev_version}}
    /
    <span><a href="{{& latest.dev_url}}">{{latest.dev_version}}</a></span>
  {{/latest.show_dev_version}}
{{/latest.show_updated}}
