{{! Copyright (c) 2017, the Dart project authors.  Please see the AUTHORS file
    for details. All rights reserved. Use of this source code is governed by a
    BSD-style license that can be found in the LICENSE file. }}

{{& listing_info_html }}

{{& package_list_html}}

{{#has_packages}}
  {{{pagination}}}
{{/has_packages}}
{{#is_search}}
  <p>Check our help page for <a href="/help#search">advanced search expressions</a>.</p>
{{/is_search}}
