{{! Copyright (c) 2018, the Dart project authors.  Please see the AUTHORS file
    for details. All rights reserved. Use of this source code is governed by a
    BSD-style license that can be found in the LICENSE file. }}
{{#use_as_an_executable}}
<h2>Use this package as an executable</h2>
<h3>1. Install it</h3>
<p>You can install the package from the command line:</p>
<pre><code class="language-shell">
$ <strong>pub global activate {{package}}</strong>
</code></pre>
<h3>2. Use it</h3>
<p>The package has the following executables:</p>
<pre><code class="language-shell">
{{#executables}}
$ <strong>{{.}}</strong>
{{/executables}}
</code></pre>
{{/use_as_an_executable}}
{{#use_as_a_library}}
<h2>Use this package as a library</h2>
<h3>1. Depend on it</h3>
<p>Add this to your package's pubspec.yaml file:</p>
<pre><code class="language-yaml">
{{dependencies_key}}:
  <strong>{{package}}: {{example_version_constraint}}</strong>

</code></pre>
<h3>2. Install it</h3>
<p>You can install packages from the command line:</p>
{{#use_pub_get}}
  <p>with pub:</p>
  <pre><code class="language-shell">
$ <strong>pub get</strong>

</code></pre>
{{/use_pub_get}}
{{#use_flutter_packages_get}}
  <p>with Flutter:</p>
  <pre><code class="language-shell">
$ <strong>flutter pub get</strong>

</code></pre>
{{/use_flutter_packages_get}}
{{#show_editor_support}}
<p>Alternatively, your editor might support {{& editor_supported_tool_html}}.
  Check the docs for your editor to learn more.</p>
{{/show_editor_support}}
{{#has_libraries}}
  <h3>3. Import it</h3>
  <p>Now in your Dart code, you can use:
  </p>
  <pre><code class="language-dart">
{{#import_examples}}
import 'package:{{package}}/{{library}}';
{{/import_examples}}
  </code></pre>
{{/has_libraries}}
{{/use_as_a_library}}
