{{! Copyright (c) 2020, the Dart project authors.  Please see the AUTHORS file
    for details. All rights reserved. Use of this source code is governed by a
    BSD-style license that can be found in the LICENSE file. }}

<div class="packages-score-value{{#has_value}} -has-value{{/has_value}}">
  <span class="packages-score-value-number">{{value}}</span><span class="packages-score-value-sign">{{sign}}</span>
</div>
<div class="packages-score-label">{{label}}</div>
