{{! Copyright (c) 2020, the Dart project authors.  Please see the AUTHORS file
    for details. All rights reserved. Use of this source code is governed by a
    BSD-style license that can be found in the LICENSE file. }}

<div class="packages">
  {{#packages}}
  <div class="packages-item">
    <div class="packages-header">
      <h3 class="packages-title"><a href="{{& url}}">{{name}}</a></h3>
      <div class="packages-icons">
        {{#is_flutter_favorite}}
        <div class="packages-icon">
          <img src="{{static_assets.img__ff_svg}}"
               class="packages-ff-icon"
               title="Package {{name}} have been awarded Flutter Favorite" />
        </div>
        {{/is_flutter_favorite}}
        <div class="packages-icon">
          {{& score_box_html }}
        </div>
      </div>
    </div>
    <p class="packages-description">{{desc}}</p>
    {{#is_external}}
    <p class="packages-metadata">v {{version}} • {{external_type}}</p>
    {{/is_external}}
    {{^is_external}}
    <p class="packages-metadata">
      v <a href="{{& url}}">{{version}}</a>
      {{#show_dev_version}} / <a href="{{& dev_version_url}}">{{dev_version}}</a>{{/show_dev_version}}
      • Updated: <span>{{last_uploaded}}</span>
      {{#publisher_id}}
      <img class="packages-vp-icon"
           src="{{& static_assets.img__verified-publisher-gray_svg}}"
           title="Published by a pub.dev verified publisher" />
      <a href="/publishers/{{publisher_id}}">{{publisher_id}}</a>
      {{/publisher_id}}
    </p>
    {{/is_external}}
    <div>{{& tags_html}}</div>
    {{#has_api_pages}}
    <div class="packages-api">
      API results
      <ul>
        {{#api_pages}}
        <li><a href="{{& href}}">{{title}}</a></li>
        {{/api_pages}}
      </ul>
    </div>
    {{/has_api_pages}}
  </div>
  {{/packages}}
</div>
