{{! Copyright (c) 2019, the Dart project authors.  Please see the AUTHORS file
    for details. All rights reserved. Use of this source code is governed by a
    BSD-style license that can be found in the LICENSE file. }}

<ul class="package-list">
  {{#packages}}
    <li class="list-item -full">
      {{& score_box_html }}
      <h3 class="title"><a href="{{& url}}">{{name}}{{#is_flutter_favorite}}
        <img
          class="-pub-ff-img"
          src="{{static_assets.img__ff-20px_png}}"
          title="Package {{name}} have been awarded Flutter Favorite" />
      {{/is_flutter_favorite}}</a></h3>
      <p class="description">{{desc}}</p>
      {{#is_external}}
        <p class="metadata">v {{version}} • {{external_type}}</p>
      {{/is_external}}
      {{#show_metadata}}
      <p class="metadata">
        v <a href="{{& url}}">{{version}}</a>
        {{#show_dev_version}} / <a href="{{& dev_version_url}}">{{dev_version}}</a>{{/show_dev_version}}
        • updated: <span>{{last_uploaded}}</span>
        {{#publisher_id}}• <a href="{{& publisher_url}}"><img
          class="-pub-publisher-shield"
          height="20" width="20"
          title="Published by a pub.dev verified publisher"
          src="{{{static_assets.img__verified-publisher-blue_svg}}}" />{{publisher_id}}</a>{{/publisher_id}}
        {{& tags_html}}
      </p>
      {{/show_metadata}}
      {{#has_api_pages}}
      <div class="api_pages">
        API results:
        <ul>
        {{#api_pages}}
          <li><a href="{{& href}}">{{title}}</a></li>
        {{/api_pages}}
        </ul>
      </div>
      {{/has_api_pages}}
    </li>
  {{/packages}}
</ul>
