{{! Copyright (c) 2017, the Dart project authors.  Please see the AUTHORS file
    for details. All rights reserved. Use of this source code is governed by a
    BSD-style license that can be found in the LICENSE file. }}

<div class="package-header">
  <h2 class="title">{{package.name}} {{package.version}}</h2>
  <div class="metadata">
    Published <span>{{package.short_created}}</span>
    <!-- &bull; Downloads: X -->
    {{#package.latest.should_show}}
      &bull; Updated:
      <span><a href="{{& package.latest.stable_url}}">{{package.latest.stable_name}}</a></span>
      {{#package.latest.should_show_dev}}
        /
        <span><a href="{{& package.latest.dev_url}}">{{package.latest.dev_name}}</a></span>
      {{/package.latest.should_show_dev}}
    {{/package.latest.should_show}}
    <div class="tags">{{& package.tags_html}}</div>
  </div>
</div>

<div class="package-container">
  <ul class="package-tabs js-tabs">
    {{#tabs}}
      <li class="tab {{active}}" data-name="-{{id}}-tab-" role="button">{{& title_html}}</li>
    {{/tabs}}
  </ul>
  <div class="main tabs-content">
    {{#tabs}}
      <section class="content {{active}} js-content {{markdown-body}}" data-name="-{{id}}-tab-">
        {{& content_html}}
      </section>
    {{/tabs}}
  </div>

  {{& sidebar_html}}
</div>

<script type="application/ld+json">
{{& package.schema_org_pkgmeta_json}}
</script>
