{{! Copyright (c) 2017, the Dart project authors.  Please see the AUTHORS file
    for details. All rights reserved. Use of this source code is governed by a
    BSD-style license that can be found in the LICENSE file. }}

{{& header_html}}

<div class="package-container">
  <ul class="package-tabs-header">
    {{#tabs}}
      <li class="tab-button {{active}}" data-name="-{{id}}-tab-" role="button">{{& title_html}}</li>
    {{/tabs}}
  </ul>
  <div class="main package-tabs-content">
    {{#tabs}}
      <section class="tab-content {{active}} {{markdown-body}}" data-name="-{{id}}-tab-">
        {{& content_html}}
      </section>
    {{/tabs}}
  </div>

  {{& sidebar_html}}
</div>

<script type="application/ld+json">
{{& schema_org_pkgmeta_json}}
</script>
