{{! Copyright (c) 2019, the Dart project authors.  Please see the AUTHORS file
    for details. All rights reserved. Use of this source code is governed by a
    BSD-style license that can be found in the LICENSE file. }}
<ul class="package-tabs-header">
  {{#tabs}}
    {{^is_link}}
    <li class="tab-button {{active}}" data-name="-{{id}}-tab-" role="button">{{& title_html}}</li>
    {{/is_link}}
    {{#is_link}}
      <li class="tab-link {{active}}" role="button">{{& title_html}}</li>
    {{/is_link}}
  {{/tabs}}
</ul>
<div class="main package-tabs-content">
  {{#tabs}}
    <section class="tab-content {{active}} {{markdown-body}}" data-name="-{{id}}-tab-">
      {{& content_html}}
    </section>
  {{/tabs}}
</div>
