{{! Copyright (c) 2017, the Dart project authors.  Please see the AUTHORS file
    for details. All rights reserved. Use of this source code is governed by a
    BSD-style license that can be found in the LICENSE file. }}
{{#tag_badges}}
<div class="-pub-tag-badge">
  <a class="tag-badge-main" title="{{ title }}" href="{{ href }}">{{ sdk }}</a>
  {{#sub_tags}}
    <a class="tag-badge-sub" title="{{ title }}" href="{{ href }}">{{ text }}</a>
  {{/sub_tags}}
</div>
{{/tag_badges}}
{{#tags}}
  {{#has_href}}
    <a class="package-tag{{#status}} {{status}}{{/status}}" href="{{{href}}}"{{#title}} title="{{title}}"{{/title}}>{{text}}</a>
  {{/has_href}}
  {{^has_href}}
    <span class="package-tag{{#status}} {{status}}{{/status}}"{{#title}} title="{{title}}"{{/title}}>{{text}}</span>
  {{/has_href}}
{{/tags}}
