{{! Copyright (c) 2020, the Dart project authors.  Please see the AUTHORS file
    for details. All rights reserved. Use of this source code is governed by a
    BSD-style license that can be found in the LICENSE file. }}

{{ package }} {{ version }}

<span class="pkg-page-title-copy">
  <img class="pkg-page-title-copy-icon"
       data-copy-content="{{ package }}: ^{{ version }}"
       src="{{& static_assets.img__content-copy-icon_svg }}"
       title="Copy &quot;{{ package }}: ^{{ version }}&quot; to clipboard" />
  <div class="pkg-page-title-copy-feedback"><span class="code">{{ package }}: ^{{ version }}</span> copied to clipboard</div>
</span>
