{{! Copyright (c) 2020, the Dart project authors.  Please see the AUTHORS file
    for details. All rights reserved. Use of this source code is governed by a
    BSD-style license that can be found in the LICENSE file. }}

{{ package }} {{ version }}

<span class="pkg-page-title-copy-hoverable hoverable">
  <img class="pkg-page-title-copy-icon" src="{{& static_assets.img__content-copy-icon_svg }}" />
  <div class="pkg-page-title-copy-dropdown">
    <div class="pkg-page-title-copy-item" data-ga-click-event="copy-package-version">{{ package }}: ^{{ version }}</div>
    {{#show_prerelease}}
    <div class="pkg-page-title-copy-item" data-ga-click-event="copy-package-version">{{ package }}: ^{{ prerelease_version }}</div>
    {{/show_prerelease}}
  </div>
</span>
