{{! Copyright (c) 2019, the Dart project authors.  Please see the AUTHORS file
    for details. All rights reserved. Use of this source code is governed by a
    BSD-style license that can be found in the LICENSE file. }}

<table class="version-table" data-package="{{package_name}}">
  <thead>
    <tr>
      <th>Version</th>
      <th>Uploaded</th>
      <th class="documentation" width="60">Documentation</th>
      <th class="archive" width="60">Archive</th>
    </tr>
  </thead>
  <tbody>
  {{#version_table_rows}}
    {{& .}}
  {{/version_table_rows}}
  </tbody>
</table>

{{#show_versions_link}}
  <p>
    <a href="{{& versions_url}}">All {{version_count}} versions...</a>
  </p>
{{/show_versions_link}}
