# Don’t commit the following directories created by pub.
build/
packages
.buildlog
.packages
.pub
.dart_tool

# Or the files created by dart2js or dartdevc.
# *.dart.js
*.dart.precompiled.js
*.js_
*.js.deps
# *.js.map
*.sum

# Or local files with secrets
key.json

# Just for pkg/popularity
pkg/_popularity/pubspec.lock
