# Don’t commit the following directories created by pub.
build/
.packages
.dart_tool

# Or the files created by dart2js or dartdevc.
# *.dart.js
*.dart.precompiled.js
*.js_
*.js.deps
# *.js.map
*.sum

# Ignore files built when the server is started
/static/css/dartdoc.css
/static/css/dartdoc.css.map
/static/css/style.css
/static/css/style.css.map
/static/js/script.dart.js*

# Or local files with secrets
key.json

node_modules/

pkg/signature_verifier/signature_verifier
