#cookie-notice {
  background-color: #fff;
  padding: 16px 20px !important;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: -2px -2px 4px rgb(0 0 0 / 30%);
  z-index: 9999;
}

#cookie-notice .cookie-notice-container {
  margin: 0 auto;
  display: flex;
  align-items: center;
  max-width: 1136px;
}

#cookie-notice .cookie-notice-button {
  color: white;
  background-color: #1967d2;
  padding: 6px 12px;
  margin: 0px 24px;
  font-size: 16px;
}
