name: pub_dev
description: The pub.dartlang.org website.
environment:
  sdk: '^3.5.0-0'
resolution: workspace
dependencies:
  _popularity:
  _pub_shared:
  appengine: ^0.13.6
  args: '^2.0.0'
  basics: ^0.10.0
  chunked_stream: ^1.1.0
  clock: ^1.1.0
  collection: ^1.15.0-nullsafety.4
  convert: '^3.0.0'
  crypto: '^3.0.0'
  fake_async: ^1.2.0
  fake_gcloud:
  gcloud: '^0.8.11'
  googleapis: ^11.4.0
  googleapis_auth: ^1.1.0
  html: ^0.15.0
  http: ^1.0.0
  http_parser: ^4.0.0
  indexed_blob:
  intl: '^0.18.0'
  json_annotation: '^4.3.0'
  lints: ^4.0.0
  logging: '>=0.9.3 <2.0.0'
  markdown: ^7.2.2
  meta: ^1.1.2
  mime: '>=0.9.3 <2.0.0'
  neat_cache: ^2.0.4
  neat_periodic_task: ^2.0.0
  path: '^1.8.0'
  pem: ^2.0.1
  pool: '^1.5.0'
  pub_package_reader:
  pub_semver: '^2.0.0'
  pubspec_parse: ^1.2.1
  retry: ^3.1.0
  sanitize_html: ^2.1.0
  shelf: '^1.0.0'
  shelf_router: ^1.1.0
  stack_trace: ^1.10.0
  stream_transform: ^2.0.0
  watcher: ^1.0.0
  yaml: '^3.0.0'
  # pana version to be pinned
  pana: '0.22.5'
  # 3rd-party packages with pinned versions
  mailer: '6.0.1'
  ulid: '2.0.0'
  tar: '1.0.3'
  api_builder:

dev_dependencies:
  build_runner: '^2.0.0'
  build_verify: ^3.0.0
  coverage: any # test already depends on it
  json_serializable: ^6.0.1
  shelf_router_generator: ^1.0.0
  source_gen: '^1.0.0'
  test: ^1.16.5
  xml: ^6.0.0

# To support workspaces we use a patched version of build_runner and
# build_runner core.
# TODO(sigurm): Remove these when the fix lands.
dependency_overrides:
  build_runner:
    git:
      url: https://github.com/sigurdm/build
      path: build_runner
      ref: workspace_support

  build_runner_core:
    git:
      url: https://github.com/sigurdm/build
      path: build_runner_core
      ref: workspace_support
  # sass requires 3.1.0, but appengine has a constraint on ^2.0.0
  protobuf: 3.1.0
