name: pub_dev
description: The pub.dartlang.org website.
environment:
  sdk: '>=2.17.0 <3.0.0'
dependencies:
  _popularity:
    path: ../pkg/_popularity
  _pub_shared:
    path: ../pkg/_pub_shared
  appengine: '^0.13.2'
  args: '^2.0.0'
  basics: ^0.6.0
  clock: ^1.1.0
  convert: '^3.0.0'
  crypto: '^3.0.0'
  fake_gcloud:
    path: ../pkg/fake_gcloud
  gcloud: '^0.8.1'
  googleapis: ^7.0.0
  googleapis_auth: ^1.1.0
  html: ^0.15.0
  http: ^0.13.0
  http_parser: ^4.0.0
  indexed_blob:
    path: ../pkg/indexed_blob
  intl: '^0.17.0'
  json_annotation: '^4.3.0'
  lints: ^2.0.0
  logging: '>=0.9.3 <2.0.0'
  markdown: ^6.0.0
  meta: ^1.1.2
  mime: '>=0.9.3 <2.0.0'
  neat_cache: ^2.0.1
  neat_periodic_task: ^2.0.0
  path: '^1.8.0'
  pem: ^2.0.1
  pool: '^1.5.0'
  pub_dartdoc_data:
    path: ../pkg/pub_dartdoc_data
  pub_package_reader:
    path: ../pkg/pub_package_reader
  pub_semver: '^2.0.0'
  pubspec_parse: ^1.2.1
  retry: ^3.1.0
  shelf: '^1.0.0'
  shelf_router: ^1.1.0
  stack_trace: ^1.10.0
  stream_transform: ^2.0.0
  watcher: ^1.0.0
  yaml: '^3.0.0'
  # pana version to be pinned
  pana: '0.21.16'
  # 3rd-party packages with pinned versions
  buffer: '1.1.1'
  mailer: '5.1.0'
  sanitize_html: ^2.0.0
  ulid: '2.0.0'
  tar: '0.5.4'
  api_builder:
    path: ../pkg/api_builder
  collection: ^1.15.0-nullsafety.4
  chunked_stream: ^1.1.0
  pub_worker:
    path: ../pkg/pub_worker
  fake_async: ^1.2.0

dev_dependencies:
  build_runner: '^2.0.0'
  build_verify: ^3.0.0
  coverage: any # test already depends on it
  json_serializable: ^6.0.1
  shelf_router_generator: ^1.0.0
  source_gen: '^1.0.0'
  test: ^1.16.5
  xml: ^6.0.0

dependency_overrides:
  # TODO: remove after https://github.com/dart-lang/markdown/issues/445 gets fixed
  markdown: ^5.0.0
