<h1>All versions of {{package.name}}</h1>
<table>
  <thead>
    <tr>
      <th>Version</th>
      <th>Uploaded</th>
      <th class="documentation" width="80">Documentation</th>
      <th class="archive" width="80">Archive</th>
    </tr>
  </thead>
  <tbody>
    {{#versions}}
      <tr>
        <td><strong>{{version}}</strong></td>
        <td>{{short_created}}</td>
        <td class="documentation">
          <a href="{{documentation}}"
             title="Go to the documentation of {{package.name}} {{version}}">
            <i class="icon-book">
              Go to the documentation of {{package.name}} {{version}}
            </i>
          </a>
        </td>
        <td class="archive">
          <a href="{{download_url}}"
              title="Download {{package.name}} {{version}} archive">
            <i class="icon-download-alt">
              Download {{package.name}} {{version}} archive
            </i>
          </a>
        </td>
      </tr>
    {{/versions}}
  </tbody>
</table>