{{! Copyright (c) 2017, the Dart project authors.  Please see the AUTHORS file
    for details. All rights reserved. Use of this source code is governed by a
    BSD-style license that can be found in the LICENSE file. }}

<h2 id="{{id}}">{{kind}} versions of {{package.name}}</h2>
<table class="version-table">
  <thead>
  <tr>
    <th>Version</th>
    <th>Uploaded</th>
    <th class="documentation" width="80">Documentation</th>
    <th class="archive" width="80">Archive</th>
  </tr>
  </thead>
  <tbody>
  {{#version_table_rows}}{{& .}}{{/version_table_rows}}
  </tbody>
</table>
