{{! Copyright (c) 2017, the Dart project authors.  Please see the AUTHORS file
    for details. All rights reserved. Use of this source code is governed by a
    BSD-style license that can be found in the LICENSE file. }}

<tr>
  <td><strong><a href="{{& version_url}}">{{version}}</a></strong></td>
  <td>{{short_created}}</td>
  <td class="documentation">
    {{#dartdoc_ok}}
    <a href="{{& dartdocs_url}}"
       title="Go to the documentation of {{package}} {{version}}">
      <img src="{{& icons.documentation}}" alt="Go to the documentation of {{package}} {{version}}" />
    </a>
    {{/dartdoc_ok}}
    {{#dartdoc_failed}}
    <a href="{{& dartdocs_url}}log.txt">failed</a>
    {{/dartdoc_failed}}
  </td>
  <td class="archive">
    <a href="{{& download_url}}"
       title="Download {{package}} {{version}} archive">
      <img src="{{& icons.download}}" alt="Download {{package}} {{version}} archive" />
    </a>
  </td>
</tr>
