{{! Copyright (c) 2019, the Dart project authors.  Please see the AUTHORS file
    for details. All rights reserved. Use of this source code is governed by a
    BSD-style license that can be found in the LICENSE file. }}

<h1>Consent request</h1>

<div id="-admin-unauthenticated">
  <p>
    Only signed-in users can accept consent requests. Please sign in to continue.
  </p>
</div>

<div id="-admin-authenticated">
  <div id="-admin-consent-loading">
    <p>Loading consent details...</p>
  </div>
  <p id="-admin-consent-buttons">
    <button id="-admin-consent-reject-button" class="pub-button">Reject</button>
    <button id="-admin-consent-accept-button" class="pub-button">Accept</button>
  </p>
</div>
