{{! Copyright (c) 2019, the Dart project authors.  Please see the AUTHORS file
    for details. All rights reserved. Use of this source code is governed by a
    BSD-style license that can be found in the LICENSE file. }}

<h1 id="-admin-consent-title">{{title}}</h1>

<div id="-admin-consent-content">
{{& description_html}}
</div>
<p id="-admin-consent-buttons">
  <button
    id="-admin-consent-reject-button"
    class="mdc-button mdc-button--raised pub-button-cancel"
    data-mdc-auto-init="MDCRipple">Reject</button>
  <button
    id="-admin-consent-accept-button"
    class="mdc-button mdc-button--raised"
    data-mdc-auto-init="MDCRipple">Accept</button>
</p>
