{{! Copyright (c) 2017, the Dart project authors.  Please see the AUTHORS file
    for details. All rights reserved. Use of this source code is governed by a
    BSD-style license that can be found in the LICENSE file. }}
<!DOCTYPE html>
<html lang="en-us">
<head>
  <script async="async" src="https://www.googletagmanager.com/gtag/js?id=UA-26406144-13"></script>
  <script src="{{{static_assets.js__gtag_js}}}"></script>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  {{#no_index}}
  <meta name="robots" content="noindex" />
  {{/no_index}}
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@dart_lang" />
  <meta property="og:site_name" content="Dart packages" />
  <title>{{& title}}</title>
  <meta property="og:title" content="{{& title}}" />
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet" />
  <meta itemprop="image" content="{{{static_assets.img__dart-logo-400x400_png}}}" />
  <meta property="og:image" content="{{{static_assets.img__dart-logo-400x400_png}}}" />
  {{#favicon}}
  <link rel="shortcut icon" href="{{{favicon}}}" />
  {{/favicon}}
  <link rel="search" type="application/opensearchdescription+xml" title="Dart packages" href="{{{static_assets.osd_xml}}}" />
  {{#canonicalUrl}}
  <link rel="canonical" href="{{{canonicalUrl}}}"/>
  <meta property="og:url" content="{{{canonicalUrl}}}" />
  {{/canonicalUrl}}
  <meta name="description" content="{{& pageDescription}}" />
  <meta property="og:description" content="{{& pageDescription}}" />
  <link rel="alternate" type="application/atom+xml" title="Updated Packages Feed for Pub" href="/feed.atom" />
  <link href="{{{static_assets.highlight__github_css}}}" rel="stylesheet" />
  <link href="{{{static_assets.css__github-markdown_css}}}" rel="stylesheet" type="text/css" />
  <link href="{{{static_assets.css__style_css}}}" rel="stylesheet" type="text/css" />
  <script src="{{{static_assets.js__script_dart_js}}}" defer="defer"></script>
  {{#include_survey}}
  <script async="async" defer="defer" src="//www.google.com/insights/consumersurveys/async_survey?site=5wdvu4vc5lhop3xbatxof6lzcm"></script>
  {{/include_survey}}
  {{#oauth_client_id}}
  <meta name="google-signin-client_id" content="{{oauth_client_id}}" />
  <script src="https://apis.google.com/js/platform.js?onload=pubAuthInit" defer="defer"></script>
  {{/oauth_client_id}}
  {{#page_data_encoded}}
  <meta name="pub-page-data" content="{{& page_data_encoded}}"/>
  {{/page_data_encoded}}
</head>
<body class="{{& body_class}}">
<header class="site-header-row">
  <div class="container site-header">
    <h1 class="_visuallyhidden">Dart pub</h1>
    <button class="hamburger"></button>
    <div class="mask"></div>
    <div class="nav-wrap">
      <div class="nav-header"><a class="logo" href="/"><img src="{{& site_logo_url}}" alt="dart pub logo" /></a>
        <div class="_flex-space"></div>
        <button class="close"></button>
      </div>
      <nav class="site-nav">
        <span>Getting Started:</span>
        <div class="sub-wrap hoverable">
          <button class="button">Flutter</button>
          <div class="sub-nav">
            <a class="link" target="_blank" rel="noopener" href="https://flutter.io/using-packages/">Using packages</a>
            <a class="link" target="_blank" rel="noopener" href="https://flutter.io/developing-packages/">Developing packages and plugins</a>
            <a class="link" target="_blank" rel="noopener" href="{{& dart_site_root}}/tools/pub/publishing">Publishing a package</a>
            <a class="link" target="_blank" rel="noopener" href="{{& dart_site_root}}/tools/pub">Pub tool</a>
          </div>
        </div>
        <div class="sub-wrap hoverable">
          <button class="button">Web &amp; Server</button>
          <div class="sub-nav">
            <a class="link" target="_blank" rel="noopener" href="{{& dart_site_root}}/tools/pub/get-started">Using packages</a>
            <a class="link" target="_blank" rel="noopener" href="{{& dart_site_root}}/tools/pub/publishing">Publishing a package</a>
            <a class="link" target="_blank" rel="noopener" href="{{& dart_site_root}}/tools/pub">Pub tool</a>
          </div>
        </div>
        {{#show_publisher_nav_menu}}
        <div class="sub-wrap hoverable">
          <button class="button">Publishers</button>
          <div class="sub-nav">
              <a class="link" href="/publishers">Browse publishers</a>
              <a class="link" href="/create-publisher">Create publisher</a>
          </div>
        </div>
        {{/show_publisher_nav_menu}}
      </nav>
      {{#oauth_client_id}}
      <div id="account-nav">
        <a id="-account-login" class="link">Login</a>
        <div id="-account-profile" class="sub-wrap hoverable">
          <img class="profile-img" id="-account-profile-img" />
          <div class="sub-nav sub-nav-right">
            <div id="-account-profile-email"></div>
            <a id="-account-logout" class="link">Logout</a>
          </div>
        </div>
      </div>
      {{/oauth_client_id}}
    </div>
  </div>
</header>

{{#small_banner}}
  <div class="_banner-bg">
    <div class="container">
      <div class="small-banner">
        <form class="search-bar" action="/{{#search_platform}}{{search_platform}}/{{/search_platform}}packages">
          <input class="input" name="q" placeholder="{{search_query_placeholder}}" autocomplete="on" autofocus="autofocus" />
          <button class="icon"></button>
        </form>
      </div>
    </div>
  </div>
{{/small_banner}}

{{#medium_banner}}
  <div class="_banner-bg">
    <div class="container">
      <div class="medium-banner">
        <form class="search-bar" action="/{{#search_platform}}{{search_platform}}/{{/search_platform}}packages">
          <input class="input" name="q" placeholder="{{search_query_placeholder}}" autocomplete="on" autofocus="autofocus"{{#search_query_html}} value="{{& search_query_html}}"{{/search_query_html}}/>
          <button class="icon"></button>
          {{#search_sort_param}}<input type="hidden" name="sort" value="{{search_sort_param}}"/>{{/search_sort_param}}
          <input id="search-legacy-field" type="hidden" name="legacy" value="1"{{^legacy_search_enabled}} disabled="disabled"{{/legacy_search_enabled}} />
          <input id="search-api-field" type="hidden" name="api" value="0"{{#api_search_enabled}} disabled="disabled"{{/api_search_enabled}} />
        </form>
        <div class="search-bar-details">
          {{& platform_tabs_html }}
          <div class="search-bar-options">
            <input id="search-legacy-checkbox" type="checkbox" name="legacy" valye="1" {{#legacy_search_enabled}} checked="checked"{{/legacy_search_enabled}} />
            <label for="search-legacy-checkbox">Include Dart 1.x results</label>
            <input id="search-api-checkbox" type="checkbox" name="api"{{#api_search_enabled}} checked="checked"{{/api_search_enabled}} />
            <label for="search-api-checkbox"> Include API results</label>
          </div>
        </div>
      </div>
    </div>
  </div>
{{/medium_banner}}

{{#landing_banner}}
  <div class="_banner-bg">
    <div class="container">
      <div class="home-banner">
        <h2 class="_visuallyhidden">Dart package manager</h2>
        <img class="logo" src="{{{landing_banner_image}}}" alt="{{landing_banner_alt}}" />
        <form class="search-bar" action="/{{#search_platform}}{{search_platform}}/{{/search_platform}}packages">
          <input class="input" name="q" placeholder="{{search_query_placeholder}}" autocomplete="on" autofocus="autofocus" />
          <button class="icon"></button>
        </form>
        {{& platform_tabs_html }}
        {{& landing_blurb_html }}
      </div>
    </div>
  </div>
{{/landing_banner}}

<div class="container">
  <main>
    {{& content_html}}
  </main>
</div>

<footer class="site-footer">
  <a class="link" href="{{& dart_site_root}}/">Dart language</a>
  <a class="link" href="https://www.google.com/intl/en/policies/terms/">Terms</a>
  <a class="link" href="https://www.google.com/intl/en/policies/privacy/">Privacy</a>
  <a class="link" href="/help">Help</a>
  <a class="link" href="/security">Security</a>
  <a class="link" href="/feed.atom"><img src="{{{static_assets.img__atom-feed-icon-32x32_png}}}" class="inline-icon" /></a>
  <a class="link github_issue" href="https://github.com/dart-lang/pub-dev/issues/new">Report an issue with this site</a>
</footer>
{{#include_highlight}}
<script src="{{{static_assets.highlight__highlight_pack_js}}}"></script>
<script src="{{{static_assets.highlight__init_js}}}"></script>
{{/include_highlight}}
{{#schema_org_searchaction_json}}
<script type="application/ld+json">
{{& schema_org_searchaction_json}}
</script>
{{/schema_org_searchaction_json}}
</body>
</html>
