{{! Copyright (c) 2019, the Dart project authors.  Please see the AUTHORS file
    for details. All rights reserved. Use of this source code is governed by a
    BSD-style license that can be found in the LICENSE file. }}

<h2>Security</h2>
<p>
  The Dart team takes the security of pub.dev seriously.
  This page describes how to report any vulnerabilities you may find.
</p>

<h3>Reporting vulnerabilities</h3>
<p>
  In the rare event that you find a vulnerability in pub.dev, contact us at
  <a href="https://goo.gl/vulnz">https://goo.gl/vulnz</a>.
  For more information about how Google handles security issues, see
  <a href="https://www.google.com/about/appsecurity/">Google’s security philosophy</a>.
</p>
