{{! Copyright (c) 2018, the Dart project authors.  Please see the AUTHORS file
    for details. All rights reserved. Use of this source code is governed by a
    BSD-style license that can be found in the LICENSE file. }}

<h1>Uploader invitation</h1>

<p>
  <code>{{invite_email}}</code> has invited you to become an uploader of the
  <code><a href="{{& package_url}}">{{package}}</a></code> package.
  If you accept this invitation, you’ll be able to upload new versions of the
  package to the Dart package site (<a href="{{& full_site_url}}">{{& primary_host}}</a>),
  and your e-mail will be listed as an uploader at
  <code><a href="{{& package_url}}">{{package}}</a></code>.
</p>

<p class="center">
    <a href="{{auth_url}}">Authorize and Accept Invite</a>
</p>

<p>
  Clicking on the above link will redirect to the Google account authorization.
  On successful authorization you will be added to the uploaders of the package.
</p>
