{{! Copyright (c) 2020, the Dart project authors.  Please see the AUTHORS file
    for details. All rights reserved. Use of this source code is governed by a
    BSD-style license that can be found in the LICENSE file. }}

<p>
  <code>{{ active_account_email }}</code>
  has invited you to be an uploader of the package
  <a href="{{& package_url }}" target="_blank" rel="noreferrer"><code>{{ package_name }}</code></a>.
</p>
<p>
  Accepting a package uploader invitation means:
</p>
<ul>
  <li>your email will be publicly listed on the package page,</li>
  <li>you will be able to publish new versions of said package, and,</li>
  <li>perform administrative actions for said package.</li>
</ul>
