{{! Copyright (c) 2020, the Dart project authors.  Please see the AUTHORS file
    for details. All rights reserved. Use of this source code is governed by a
    BSD-style license that can be found in the LICENSE file. }}

<p>
  <code>{{ inviting_user_email }}</code>
  has requested to use
  <code>{{ contact_email }}</code>
  as the contact email of the
  <a href="https://dart.dev/tools/pub/verified-publishers" target="_blank" rel="noreferrer">verified publisher</a>
  <a href="{{& publisher_url }}" target="_blank" rel="noreferrer"><code>{{ publisher_id }}</code></a>.
</p>
<p>
  Accepting the use of the contact email means:
</p>
<ul>
  <li>
    the email will be publicly listed on the
    <a href="{{& publisher_url }}" target="_blank" rel="noreferrer">publisher page</a>.
  </li>
</ul>
