{{! Copyright (c) 2020, the Dart project authors.  Please see the AUTHORS file
    for details. All rights reserved. Use of this source code is governed by a
    BSD-style license that can be found in the LICENSE file. }}

<p>
  <code>{{ inviting_user_email }}</code>
  has invited you to be a member of the
  <a href="https://dart.dev/tools/pub/verified-publishers" target="_blank" rel="noreferrer">verified publisher</a>
  <a href="{{& publisher_url }}" target="_blank" rel="noreferrer"><code>{{ publisher_id }}</code></a>.
</p>
<p>
  Accepting a publisher membership invitation means:
</p>
<ul>
  <li>other members of the publisher <code>{{ publisher_id }}</code> will be able to see your email address,</li>
  <li>you will be able to publish new versions of packages owned by the publisher <code>{{ publisher_id }}</code>,</li>
  <li>you will be able to transfer packages to be owned by the publisher <code>{{ publisher_id }}</code>,</li>
  <li>you will be able to perform administrative actions for publisher <code>{{ publisher_id }}</code>.</li>
</ul>
