{{! Copyright (c) 2019, the Dart project authors.  Please see the AUTHORS file
    for details. All rights reserved. Use of this source code is governed by a
    BSD-style license that can be found in the LICENSE file. }}

<h3>Publisher information</h3>
<div class="-pub-form-row">
  <div class="mdc-text-field mdc-text-field--textarea" data-mdc-auto-init="MDCTextField">
    <div class="mdc-text-field-character-counter">0 / 4096</div>
    <textarea id="-publisher-description" class="mdc-text-field__input" rows="5" cols="60" maxlength="4096">{{description}}</textarea>
    <div class="mdc-notched-outline">
      <div class="mdc-notched-outline__leading"></div>
      <div class="mdc-notched-outline__notch">
        <label for="-publisher-description" class="mdc-floating-label">Description</label>
      </div>
      <div class="mdc-notched-outline__trailing"></div>
    </div>
  </div>
</div>
<div class="-pub-form-row">
  <div class="mdc-text-field mdc-text-field--outlined" data-mdc-auto-init="MDCTextField">
    <input type="text" id="-publisher-website-url" class="mdc-text-field__input" value="{{website_url}}" />
    <div class="mdc-notched-outline">
      <div class="mdc-notched-outline__leading"></div>
      <div class="mdc-notched-outline__notch">
        <label for="-publisher-website-url" class="mdc-floating-label">Website</label>
      </div>
      <div class="mdc-notched-outline__trailing"></div>
    </div>
  </div>
</div>
<div class="-pub-form-row">
  <div class="mdc-text-field mdc-text-field--outlined" data-mdc-auto-init="MDCTextField">
    <input type="text" id="-publisher-contact-email" class="mdc-text-field__input" value="{{contact_email}}" />
    <div class="mdc-notched-outline">
      <div class="mdc-notched-outline__leading"></div>
      <div class="mdc-notched-outline__notch">
        <label for="-publisher-contact-email" class="mdc-floating-label">Contact email</label>
      </div>
      <div class="mdc-notched-outline__trailing"></div>
    </div>
  </div>
</div>
<div class="-pub-form-row">
  <button
    id="-publisher-update-button"
    class="mdc-button mdc-button--raised"
    data-mdc-auto-init="MDCRipple">Update</button>
</div>
<h3>Members</h3>

<div class="mdc-data-table">
  <table class="mdc-data-table__table" aria-label="Members of publisher">
    <thead>
      <tr class="mdc-data-table__header-row">
        <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Email</th>
        <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Role</th>
        <th class="mdc-data-table__header-cell" role="columnheader" scope="col"></th>
      </tr>
    </thead>
    <tbody class="mdc-data-table__content">
{{#member_list}}
      <tr class="mdc-data-table__row">
        <td class="mdc-data-table__cell">{{email}}</td>
        <td class="mdc-data-table__cell">{{role}}</td>
        <td class="mdc-data-table__cell">
          <button
            class="-pub-remove-user-button pub-button-danger mdc-button mdc-button--raised"
            data-user-id="{{user_id}}"
            data-email="{{email}}"
            data-mdc-auto-init="MDCRipple">Remove</button>
        </td>
      </tr>
{{/member_list}}
    </tbody>
  </table>
</div>


<h4>Invite new member</h4>
<p>
  You can invite new members to this verified publisher.
  Once new members accept the invitation, they have full administrative rights, with the following abilities:
</p>
<ul>
  <li>Transfer packages to and from this publisher</li>
  <li>Upload new versions of packages owned by this publisher</li>
  <li>Add and remove members of this publisher</li>
</ul>
<p>
  <div class="mdc-text-field mdc-text-field--outlined" data-mdc-auto-init="MDCTextField">
    <input type="text" id="-admin-invite-member-input" class="mdc-text-field__input" />
    <div class="mdc-notched-outline">
      <div class="mdc-notched-outline__leading"></div>
      <div class="mdc-notched-outline__notch">
        <label for="-admin-invite-member-input" class="mdc-floating-label">email address</label>
      </div>
      <div class="mdc-notched-outline__trailing"></div>
    </div>
  </div>
  <button
    id="-admin-invite-member-button"
    class="mdc-button mdc-button--raised"
    data-mdc-auto-init="MDCRipple">Invite member</button>
</p>
