{{! Copyright (c) 2019, the Dart project authors.  Please see the AUTHORS file
    for details. All rights reserved. Use of this source code is governed by a
    BSD-style license that can be found in the LICENSE file. }}

<div id="-admin-unauthenticated">
  <p>
    Publisher administration is for signed-in users only.
  </p>
</div>

<div id="-admin-unauthorized">
  <p>You are not admin of this publisher.</p>
</div>

<div id="-admin-authorized">
  <h2>Admin publisher: {{publisher_id}}</h2>
  <h4>Description</h4>
  <p>
    <textarea id="-publisher-description" class="pub-input" rows="16">{{description}}</textarea>
  </p>
  <p>
      <button id="-publisher-update-button" class="pub-button">Update</button>
  </p>
  <h3>Members</h3>
  <p>
    You can invite new administrator members to this publisher.
    They will have equal administration rights, and they will be
    able to:
  </p>
  <ul>
    <li>transfer package to/from this publisher</li>
    <li>upload new versions to packages under this publisher</li>
    <li>add/remove new members (with similar rights)</li>
  </ul>
  <p>
    <input id="-admin-invite-member-input" class="pub-input" placeholder="e-mail address"/>
    <button id="-admin-invite-member-button" class="pub-button">Invite member</button>
  </p>
</div>
