{{! Copyright (c) 2019, the Dart project authors.  Please see the AUTHORS file
    for details. All rights reserved. Use of this source code is governed by a
    BSD-style license that can be found in the LICENSE file. }}

<div id="-admin-unauthenticated">
  <p>
    Publisher administration is for signed-in users only.
  </p>
</div>

<div id="-admin-unauthorized">
  <p>You are not admin of this publisher.</p>
</div>

<div id="-admin-authorized">
  <h2>Admin publisher: {{publisher_id}}</h2>
  <h4>Description</h4>
  <p>
    <textarea id="-publisher-description" class="pub-input" rows="16">{{description}}</textarea>
  </p>
  <p>
      <button id="-publisher-update-button" class="pub-button">Update</button>
  </p>
</div>
