{{! Copyright (c) 2019, the Dart project authors.  Please see the AUTHORS file
    for details. All rights reserved. Use of this source code is governed by a
    BSD-style license that can be found in the LICENSE file. }}

{{#has_description}}
<h3 class="title">Description</h3>
<p>{{& description_html}}</p>
{{/has_description}}

<h3 class="title">Publisher</h3>
<p>
  <img
      class="-pub-publisher-shield"
      height="22" width="22"
      title="Domain ownership verified by pub.dev"
      src="{{{static_assets.img__verified-publisher-blue_svg}}}" />{{publisher_id}}
</p>

{{#website_url}}
<h3 class="title">Website</h3>
<p>
  <a href="{{& website_url}}">{{website_url_displayed}}</a>
</p>
{{/website_url}}

{{#contact_email}}
<h3 class="title">Contact</h3>
<p>
  <a href="mailto:{{& contact_email}}">{{contact_email}}</a>
</p>
{{/contact_email}}

<h3 class="title">More</h3>
<p>
  <a href="{{& list_packages_search_link}}" rel="nofollow">All packages of {{publisher_id}}</a>
</p>
