{{! Copyright (c) 2019, the Dart project authors.  Please see the AUTHORS file
    for details. All rights reserved. Use of this source code is governed by a
    BSD-style license that can be found in the LICENSE file. }}

{{#title}}
<h2>{{title}}</h2>
{{/title}}

{{#has_publishers}}
<ul class="publisher-list">
  {{#publishers}}
  <li class="list-item">
    <h3 class="title"><a href="{{& url}}">{{publisher_id}}</a></h3>
    <p class="metadata">
      Registered on {{short_created}}.
    </p>
  </li>
  {{/publishers}}
</ul>
{{/has_publishers}}

{{^has_publishers}}
<p>{{& no_publisher_message_html}}</p>
{{/has_publishers}}

<h3>Want to create a new publisher?</h3>
<p>
  Use the <a href="{{& create_publisher_url}}">create publisher</a> page.
</p>
