<h4>Analysis</h4>

<table class="noborder" style="margin-top: 0.5em">
  <tr>
    <td>Timestamp:</td>
    <td>{{timestamp}}</td>
  </tr>
  <tr>
    <td>Status:</td>
    <td>{{status}}</td>
  </tr>
</table>

{{#has_dependency}}
<h4>Transitive dependencies</h4>
{{#dependencies}}
<a href="/experimental/packages/{{{name}}}">{{text}}</a>{{sep}}
{{/dependencies}}
{{/has_dependency}}

<h4>Scores</h4>

<ul>
  <li>Health: {{health}}</li>
  <li>Popularity: TBD</li>
  <li>Maintenance: TBD</li>
</ul>
