{{! Copyright (c) 2017, the Dart project authors.  Please see the AUTHORS file
    for details. All rights reserved. Use of this source code is governed by a
    BSD-style license that can be found in the LICENSE file. }}

{{& platform_tabs_html}}

{{^is_search}}
<h1>{{title}}</h1>
{{{description_html}}}
<p><br/></p>
{{/is_search}}
{{#is_search}}
<p class="package-count"><span>{{total_count}}</span> results for <span>{{search_query}}</span></p>
{{/is_search}}

<ul class="package-list">
  {{#packages}}
    <li class="list-item -full">
      <div class="score-box"><span class="number -solid">??</span><span class="text">?????</span>
      </div>
      <h3 class="title"><a href="/experimental{{url}}">{{name}}</a></h3>
      <p class="description">{{desc}}</p>
      <p class="metadata">
        v <a href="/experimental{{url}}">{{version}}</a>
        {{#show_dev_version}} / <a href="/experimental{{url}}/versions/{{dev_version_href}}">{{dev_version}}</a> {{/show_dev_version}}
        • Updated: <span>{{last_uploaded}}</span>
        {{& tags_html}}
      </p>
    </li>
  {{/packages}}
</ul>

{{#has_packages}}
  {{{pagination}}}
{{/has_packages}}
