{{! Copyright (c) 2017, the Dart project authors.  Please see the AUTHORS file
    for details. All rights reserved. Use of this source code is governed by a
    BSD-style license that can be found in the LICENSE file. }}

<div class="listing-sort-header">
  <div class="tooltip-base">
    <span class="tooltip-dotted">Sorted by:</span> {{sort_name}}
    <div class="tooltip-content tooltip-bottom-left">
      {{& ranking_tooltip_html }}
    </div>
  </div>
</div>

{{^is_search}}
<h2 class="listing-page-title">{{title}}</h2>
{{/is_search}}
{{#is_search}}
<p class="package-count"><span>{{total_count}}</span> results for <code>{{search_query}}</code></p>
{{/is_search}}

<ul class="package-list">
  {{#packages}}
    <li class="list-item -full">
      {{& score_box_html }}
      <h3 class="title"><a href="/experimental{{url}}">{{name}}</a></h3>
      <p class="description">{{desc}}</p>
      <p class="metadata">
        v <a href="/experimental{{url}}">{{version}}</a>
        {{#show_dev_version}} / <a href="/experimental{{url}}/versions/{{dev_version_href}}">{{dev_version}}</a> {{/show_dev_version}}
        • Updated: <span>{{last_uploaded}}</span>
        {{& tags_html}}
      </p>
    </li>
  {{/packages}}
</ul>

{{#has_packages}}
  {{{pagination}}}
{{/has_packages}}
{{#is_search}}
  <p>Check our help page for <a href="/experimental/help#search">advanced search expressions</a>.</p>
{{/is_search}}
