{{! Copyright (c) 2017, the Dart project authors.  Please see the AUTHORS file
    for details. All rights reserved. Use of this source code is governed by a
    BSD-style license that can be found in the LICENSE file. }}

<div class="package-header">
  <h2 class="title">{{package.name}} {{package.selected_version.version}}</h2>
  <div class="metadata">
    Published <span>{{package.short_created}}</span>
    <!-- &bull; Downloads: X -->
    {{#package.latest.should_show}}
      &bull; Updated:
      <span><a href="/experimental/packages/{{package.name}}/versions/{{package.latest.stable_href}}">{{package.latest.stable_name}}</a></span>
      {{#package.latest.should_show_dev}}
        /
        <span><a href="/experimental/packages/{{package.name}}/versions/{{package.latest.dev_href}}">{{package.latest.dev_name}}</a></span>
      {{/package.latest.should_show_dev}}
    {{/package.latest.should_show}}
    {{& package.tags_html}}
  </div>
</div>

<div class="package-container">
  <div class="main tabs-content">
    <ul class="package-tabs js-tabs">
      {{#tabs}}
        <li class="tab {{active}}" data-name="pub-tab-{{id}}">{{title}}</li>
      {{/tabs}}
      <li class="tab {{#has_no_file_tab}}-active{{/has_no_file_tab}}" data-name="pub-tab-installing">Installing</li>
      <li class="tab" data-name="pub-tab-versions">Versions</li>
      <li class="tab" data-name="score">
        <div class="score-box"><span class="number -good">??</span><span class="text">????</span>
        </div>
      </li>
    </ul>
    {{#tabs}}
      <section class="content {{active}} js-content markdown-body" data-name="pub-tab-{{id}}">
        {{&content}}
      </section>
    {{/tabs}}
    <section class="content {{#has_no_file_tab}}-active{{/has_no_file_tab}} js-content markdown-body" data-name="pub-tab-installing">
      <h3>1. Depend on it</h3>
      <p>Add this to your package's pubspec.yaml file:</p>
      <pre><code class="language-yaml">
dependencies:
  <strong>{{package.name}}: {{package.selected_version.example_version_constraint}}</strong>

</code></pre>
      <h3>2. Install it</h3>
      <p>You can install packages from the command line:</p>
      <pre><code class="language-shell">
$ <strong>{{package.install_command}}</strong>

</code></pre>
      <p>Alternatively, your editor might support {{package.install_tool}}. Check the docs for your editor to learn more.</p>
      {{#package.selected_version.has_libraries}}
        <h3>3. Import it</h3>
        <p>Now in your Dart code, you can use:
        </p>
        <pre><code class="language-dart">{{#package.selected_version.import_examples}}
import 'package:{{package}}/{{library}}';
{{/package.selected_version.import_examples}}
        </code></pre>
      {{/package.selected_version.has_libraries}}
    </section>
    <section class="content js-content markdown-body" data-name="pub-tab-versions">
      <table class="version-table">
        <thead>
        <tr>
          <th>Version</th>
          <th>Uploaded</th>
          <th class="documentation" width="60">Documentation</th>
          <th class="archive" width="60">Archive</th>
        </tr>
        </thead>
        {{#versions}}
          <tr>
            <th>{{version}}</th>
            <td>{{short_created}}</td>
            <td class="documentation">
              <a href="{{documentation}}"
                 title="Go to the documentation of {{package.name}} {{version}}">
                <img src="{{icons.documentation}}" alt="Go to the documentation of {{package.name}} {{version}}" />
              </a>
            </td>
            <td class="archive">
              <a href="{{download_url}}"
                 title="Download {{package.name}} {{version}} archive">
                <img src="{{icons.download}}" alt="Download {{package.name}} {{version}} archive" />
              </a>
            </td>
          </tr>
        {{/versions}}
      </table>
      {{#show_versions_link}}
        <p>
          <a href="/experimental/packages/{{package.name}}/versions">
            All {{version_count}} versions...
          </a>
        </p>
      {{/show_versions_link}}
    </section>
    <section class="content js-content markdown-body" data-name="score">
      <p>(some content for the analysis results tab)</p>
      {{& package.analysis_html}}
    </section>
  </div>

  <aside class="sidebar sidebar-content">
    {{#package.description}}
      <h3 class="title">About</h3>
      <p>{{package.description}}</p>
    {{/package.description}}

    <h3 class="title">{{package.authors_title}}</h3>
    <div>{{& package.authors_html}}</div>

    {{#package.homepage}}
      <h3 class="title">Homepage</h3>
      <a class="link" href="{{package.homepage}}">{{package.nice_homepage}}</a>
    {{/package.homepage}}

    {{#package.documentation}}
      <h3 class="title">Documentation</h3>
      <a class="link" href="{{package.documentation}}">{{package.nice_documentation}}</a>
    {{/package.documentation}}

    <h3 class="title">{{package.uploaders_title}}</h3>
    <p>{{& package.uploaders_html}}</p>

    {{#package.license}}
      <h3 class="title">License</h3>
      <p>{{package.license}}</p>
    {{/package.license}}

    <h3 class="title">Share</h3>
    <div class="g-plusone" data-annotation="none"></div>
    <a href="https://twitter.com/share" class="twitter-share-button" data-count="none" data-hashtags="dartlang">Tweet</a>
  </aside>
</div>

<script src="/static/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
