name: async
version: 1.13.3
author: Dart Team <misc@dartlang.org>
description: Utility functions and classes related to the 'dart:async' library.
homepage: https://www.github.com/dart-lang/async
environment:
  sdk: ">=1.22.0 <2.0.0"
dependencies:
  collection: "^1.5.0"
dev_dependencies:
  fake_async: "^0.1.2"
  stack_trace: "^1.0.0"
  test: "^0.12.0"
