<h2>Analysis</h2>

<div class="analysis-disclaimer">
  This feature is new. <br/>
  We welcome <a class='github_issue' data-bug-tag='analysis' href="https://github.com/dart-lang/pub-dartlang-dart/issues/new">feedback</a>.
</div>

<p>
  We are analyzing each uploaded package and provide its scores, details and our suggestions here.
  You can see the overall score in a colored circle, and the results below.
</p>

<hr />

<p>Last package analysis:</p>
<ul>
  <li><i>{{analysis_status}}</i> on {{date_completed}}</li>
  <li>Dart: {{dart_sdk_version}}</li>
  <li>pana: {{pana_version}}</li>
{{#flutter_version}}<li>Flutter: {{flutter_version}}</li>{{/flutter_version}}
</ul>

<h4>Scores</h4>

<table id='scores-table'>
  <tr>
    <td class="score-name">
      <div class="tooltip-base">
        <span class="tooltip-dotted">Popularity:</span>
        <div class="tooltip-content">
          Describes how popular the package is relative to other packages.
          <a href="/help#popularity">[more]</a>
        </div>
      </div>
    </td>
    <td class="score-value">{{popularity}}</td>
  </tr>
  <tr>
    <td class="score-name">
      <div class="tooltip-base">
        <span class="tooltip-dotted">Health:</span>
        <div class="tooltip-content">
          Code health derived from static analysis.
          <a href="/help#health">[more]</a>
        </div>
      </div>
    </td>
    <td class="score-value">{{health}}</td>
  </tr>
  <tr>
    <td class="score-name">
      <div class="tooltip-base">
        <span class="tooltip-dotted">Maintenance:</span>
        <div class="tooltip-content">
          Reflects how tidy and up-to-date the package is.
          <a href="/help#maintenance">[more]</a>
        </div>
      </div>
    </td>
    <td class="score-value">{{maintenance}}</td>
  </tr>
  <tr>
    <td class="score-name">
      <div class="tooltip-base">
        <span class="tooltip-dotted"><b>Overall score:</b></span>
        <div class="tooltip-content">
          Weighted score of the above.
          <a href="/help#overall-score">[more]</a>
        </div>
      </div>
    </td>
    <td>{{& score_box_html }}</td>
  </tr>
</table>

<h4>Platforms</h4>

<p>Detected platforms: {{& platforms_html}}</p>
<blockquote>{{& platforms_reason_html}}</blockquote>

{{#hasSuggestions}}
<h4>Suggestions</h4>
<ul>
  {{#suggestions}}
    <li>
      <div>{{& title}}</div>
      <blockquote>{{& description}}</blockquote>
    </li>
  {{/suggestions}}
</ul>
{{/hasSuggestions}}

{{#has_dependency}}
<h4>Dependencies</h4>
<table class="dependency-table">
  <tr>
    <th>Package</th>
    <th>Constraint</th>
    <th>Resolved</th>
    <th>Available</th>
  </tr>
  {{#dependencies.has_direct}}
  <tr>
    <th colspan="4" class="sub-header">Direct dependencies</th>
  </tr>
  {{/dependencies.has_direct}}
  {{#dependencies.direct}}
  <tr>
    <td><a href="/packages/{{package}}">{{package}}</a></td>
    <td>{{constraint}}</td>
    <td>{{resolved}}</td>
    <td>{{available}}</td>
  </tr>
  {{/dependencies.direct}}
  {{#dependencies.has_transitive}}
  <tr>
    <th colspan="4" class="sub-header">Transitive dependencies</th>
  </tr>
  {{/dependencies.has_transitive}}
  {{#dependencies.transitive}}
    <tr>
      <td><a href="/packages/{{package}}">{{package}}</a></td>
      <td>{{constraint}}</td>
      <td>{{resolved}}</td>
      <td>{{available}}</td>
    </tr>
  {{/dependencies.transitive}}
  {{#dependencies.has_dev}}
  <tr>
    <th colspan="4" class="sub-header">Dev dependencies</th>
  </tr>
  {{/dependencies.has_dev}}
  {{#dependencies.dev}}
    <tr>
      <td><a href="/packages/{{package}}">{{package}}</a></td>
      <td>{{constraint}}</td>
      <td>{{resolved}}</td>
      <td>{{available}}</td>
    </tr>
  {{/dependencies.dev}}
</table>
{{/has_dependency}}
