{{! Copyright (c) 2018, the Dart project authors.  Please see the AUTHORS file
    for details. All rights reserved. Use of this source code is governed by a
    BSD-style license that can be found in the LICENSE file. }}
<h2>Analysis</h2>

{{#show_discontinued}}
<p>This package is not analyzed, because it is discontinued.</p>
{{/show_discontinued}}
{{#show_outdated}}
<p>
  This package version is not analyzed, because it is more than two years old.
  Check the <a href="/packages/{{{package}}}#-analysis-tab-">latest stable version</a> for its analysis.
</p>
{{/show_outdated}}
{{#show_analysis}}
<p>
  We analyzed this package on {{date_completed}}, and provided a score, details, and suggestions below.
  Analysis was completed with status <i>{{analysis_status}}</i> using:
</p>

<ul>
  <li>Dart: {{dart_sdk_version}}</li>
  <li>pana: {{pana_version}}</li>
{{#flutter_version}}<li>Flutter: {{flutter_version}}</li>{{/flutter_version}}
</ul>

<hr />

<h4>Scores</h4>

<table id='scores-table'>
  <tr>
    <td class="score-name">
      <div class="tooltip-base hoverable">
        <span class="tooltip-dotted">Popularity:</span>
        <div class="tooltip-content">
          Describes how popular the package is relative to other packages.
          <a href="/help#popularity">[more]</a>
        </div>
      </div>
    </td>
    <td class="score-value">{{popularity}}</td>
    <td class="score-range">/ 100</td>
  </tr>
  <tr>
    <td class="score-name">
      <div class="tooltip-base hoverable">
        <span class="tooltip-dotted">Health:</span>
        <div class="tooltip-content">
          Code health derived from static analysis.
          <a href="/help#health">[more]</a>
        </div>
      </div>
    </td>
    <td class="score-value">{{health}}</td>
    <td class="score-range">/ 100</td>
  </tr>
  <tr>
    <td class="score-name">
      <div class="tooltip-base hoverable">
        <span class="tooltip-dotted">Maintenance:</span>
        <div class="tooltip-content">
          Reflects how tidy and up-to-date the package is.
          <a href="/help#maintenance">[more]</a>
        </div>
      </div>
    </td>
    <td class="score-value">{{maintenance}}</td>
    <td class="score-range">/ 100</td>
  </tr>
  <tr>
    <td class="score-name">
      <div class="tooltip-base hoverable">
        <span class="tooltip-dotted"><b>Overall score:</b></span>
        <div class="tooltip-content">
          Weighted score of the above.
          <a href="/help#overall-score">[more]</a>
        </div>
      </div>
    </td>
    <td>{{& score_box_html }}</td>
  </tr>
</table>

Learn more about <a href="/help#scoring">scoring</a>.

<h4>Platforms</h4>

<p>Detected platforms: {{& platforms_html}}</p>
<blockquote>{{& platforms_reason_html}}</blockquote>

{{#hasSuggestions}}
<h4>Suggestions</h4>
<ul>
  {{#suggestions}}
    <li>
      <div>{{& title}}</div>
      <blockquote>{{& description}}</blockquote>
    </li>
  {{/suggestions}}
</ul>
{{/hasSuggestions}}

{{#has_dependency}}
<h4>Dependencies</h4>
<div class="overflow-x">
<table class="dependency-table">
  <tr>
    <th>Package</th>
    <th>Constraint</th>
    <th>Resolved</th>
    <th>Available</th>
  </tr>
  {{#dependencies.has_direct}}
  <tr>
    <th colspan="4" class="sub-header">Direct dependencies</th>
  </tr>
  {{/dependencies.has_direct}}
  {{#dependencies.has_sdk}}
  <tr>
    <td>Dart SDK</td>
    <td>{{dependencies.sdk}}</td>
    <td></td>
    <td></td>
  </tr>
  {{/dependencies.has_sdk}}
{{#dependencies.direct}}{{& row_html}}{{/dependencies.direct}}
  {{#dependencies.has_transitive}}
  <tr>
    <th colspan="4" class="sub-header">Transitive dependencies</th>
  </tr>
  {{/dependencies.has_transitive}}
{{#dependencies.transitive}}{{& row_html}}{{/dependencies.transitive}}
  {{#dependencies.has_dev}}
  <tr>
    <th colspan="4" class="sub-header">Dev dependencies</th>
  </tr>
  {{/dependencies.has_dev}}
{{#dependencies.dev}}{{& row_html}}{{/dependencies.dev}}
</table>
</div>
{{/has_dependency}}
{{/show_analysis}}
