{{#has_icons}}
<h4>Platforms</h4>
<div class="package-icons">
  {{#icons}}
    <div class="package-icon">
      <img src="{{{src}}}" class="package-icon-img" />
      {{#href}}
        <a href="{{{href}}}">
          <span class="package-icon-label">{{label}}</span>
        </a>
      {{/href}}
      {{^href}}
        <span class="package-icon-label">{{label}}</span>
      {{/href}}
    </div>
  {{/icons}}
</div>
{{/has_icons}}
