{{#has_icons}}
<div class="package-icons">
  {{#icons}}
    <div class="package-icon">
      <img src="{{{src}}}" class="package-icon-img" />
      <span class="package-icon-label">{{label}}</span>
    </div>
  {{/icons}}
</div>
{{/has_icons}}
