{{#has_icons}}
  <div style="min-width: {{min_width_px}}px">
    {{#icons}}
      <img src="{{{src}}}" class="tablecol-icons-img" alt="{{label}}" title="{{label}}"/>
    {{/icons}}
  </div>
{{/has_icons}}
