{{#generic}}
  <p>with pub:</p>
  <pre><code class="language-shell">
$ <strong>pub get</strong>

</code></pre>
{{/generic}}
{{#flutter}}
  <p>with Flutter:</p>
  <pre><code class="language-shell">
$ <strong>flutter packages get</strong>

</code></pre>
{{/flutter}}
<p>Alternatively, your editor might support {{& tool_html}}.
  Check the docs for your editor to learn more.</p>
