{{! Copyright (c) 2018, the Dart project authors.  Please see the AUTHORS file
    for details. All rights reserved. Use of this source code is governed by a
    BSD-style license that can be found in the LICENSE file. }}
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@dart_lang" />
    <meta property="og:site_name" content="Dart Packages" />
{{#canonicalUrl}}
    <meta property="og:url" content="{{{canonicalUrl}}}" />
{{/canonicalUrl}}
    <meta property="og:title" content="{{title}}" />
    <meta property="og:description" content="{{description}}" />
