{{! Copyright (c) 2018, the Dart project authors.  Please see the AUTHORS file
    for details. All rights reserved. Use of this source code is governed by a
    BSD-style license that can be found in the LICENSE file. }}
<div class="score-bar">
    <div class="score-progress" style="min-width: {{& percent}}%; background: {{& background}};">
        <div class="score-content" style="color: {{& color}}; text-shadow: -1px -1px 0 {{& shadow}}, 1px -1px 0 {{& shadow}}, -1px 1px 0 {{& shadow}}, 1px 1px 0 {{& shadow}};">{{score}}</div>
    </div>
</div>
