{{! Copyright (c) 2017, the Dart project authors.  Please see the AUTHORS file
    for details. All rights reserved. Use of this source code is governed by a
    BSD-style license that can be found in the LICENSE file. }}

<div class="package-header">
  <h2 class="title">{{package.name}} {{package.selected_version.version}}</h2>
  <div class="metadata">
    Published <span>{{package.short_created}}</span>
    <!-- &bull; Downloads: X -->
    {{#package.latest.should_show}}
      &bull; Updated:
      <span><a href="/packages/{{package.name}}/versions/{{package.latest.stable_href}}">{{package.latest.stable_name}}</a></span>
      {{#package.latest.should_show_dev}}
        /
        <span><a href="/packages/{{package.name}}/versions/{{package.latest.dev_href}}">{{package.latest.dev_name}}</a></span>
      {{/package.latest.should_show_dev}}
    {{/package.latest.should_show}}
    {{& package.tags_html}}
  </div>
</div>

<div class="package-container">
  <div class="main tabs-content">
    <ul class="package-tabs js-tabs">
      {{#tabs}}
        <li class="tab {{active}}" data-name="-{{id}}-tab-">{{title}}</li>
      {{/tabs}}
      <li class="tab {{#has_no_file_tab}}-active{{/has_no_file_tab}}" data-name="-installing-tab-">Installing</li>
      <li class="tab" data-name="-versions-tab-">Versions</li>
      <li class="tab" data-name="-analysis-tab-">
        {{& package.score_box_html }}
      </li>
    </ul>
    {{#tabs}}
      <section class="content {{active}} js-content markdown-body" data-name="-{{id}}-tab-">
        {{&content}}
      </section>
    {{/tabs}}
    <section class="content {{#has_no_file_tab}}-active{{/has_no_file_tab}} js-content markdown-body" data-name="-installing-tab-">
      <h3>1. Depend on it</h3>
      <p>Add this to your package's pubspec.yaml file:</p>
      <pre><code class="language-yaml">
dependencies:
  <strong>{{package.name}}: {{package.selected_version.example_version_constraint}}</strong>

</code></pre>
      <h3>2. Install it</h3>
      <p>You can install packages from the command line:</p>
      {{& package.install_html}}
      {{#package.selected_version.has_libraries}}
        <h3>3. Import it</h3>
        <p>Now in your Dart code, you can use:
        </p>
        <pre><code class="language-dart">{{#package.selected_version.import_examples}}
import 'package:{{package}}/{{library}}';
{{/package.selected_version.import_examples}}
        </code></pre>
      {{/package.selected_version.has_libraries}}
    </section>
    <section class="content js-content markdown-body" data-name="-versions-tab-">
      <table class="version-table">
        <thead>
        <tr>
          <th>Version</th>
          <th>Uploaded</th>
          <th class="documentation" width="60">Documentation</th>
          <th class="archive" width="60">Archive</th>
        </tr>
        </thead>
        {{#version_table_rows}}{{& .}}{{/version_table_rows}}
      </table>
      {{#show_versions_link}}
        <p>
          <a href="/packages/{{package.name}}/versions">
            All {{version_count}} versions...
          </a>
        </p>
      {{/show_versions_link}}
    </section>
    <section class="content js-content markdown-body" data-name="-analysis-tab-">
      {{^package.analysis_html}}
        <i>Awaiting analysis to complete.</i>
      {{/package.analysis_html}}
      {{& package.analysis_html}}
    </section>
  </div>

  <aside class="sidebar sidebar-content">
    {{#package.description}}
      <h3 class="title">About</h3>
      <p>{{package.description}}</p>
    {{/package.description}}

    <h3 class="title">{{package.authors_title}}</h3>
    <div>{{& package.authors_html}}</div>

    {{#package.homepage}}
      <h3 class="title">Homepage</h3>
      <a class="link" href="{{package.homepage}}">{{package.nice_homepage}}</a>
    {{/package.homepage}}

    {{#package.documentation}}
      <h3 class="title">Documentation</h3>
      <a class="link" href="{{package.documentation}}">{{package.nice_documentation}}</a>
    {{/package.documentation}}

    <h3 class="title">{{package.uploaders_title}}</h3>
    <p>{{& package.uploaders_html}}</p>

    {{#package.license_html}}
      <h3 class="title">License</h3>
      <p>{{& package.license_html}}</p>
    {{/package.license_html}}

    {{#package.dependencies_html}}
      <h3 class="title">Dependencies</h3>
      <p>{{& package.dependencies_html}}</p>
    {{/package.dependencies_html}}

    <h3 class="title">More</h3>
    <p><a href="{{{search_deps_link}}}">Packages that depend on {{package.name}}</a></p>
  </aside>
</div>

<script src="/static/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<script type="application/ld+json">
{{& package.schema_org_pkgmeta_json}}
</script>
