{{! Copyright (c) 2012, the Dart project authors.  Please see the AUTHORS file
    for details. All rights reserved. Use of this source code is governed by a
    BSD-style license that can be found in the LICENSE file. }}

<h1>
  {{package.name}}
  <span class="version">{{package.selected_version.version}}</span>
  <span class="version" style="font-weight: normal">
    {{#package.latest.should_show}}
    (latest:
      <a href="/packages/{{package.name}}/versions/{{package.latest.stable_href}}">{{package.latest.stable_name}}</a>
    {{#package.latest.should_show_dev}}
     /
      <a href="/packages/{{package.name}}/versions/{{package.latest.dev_href}}">{{package.latest.dev_name}}</a>
    {{/package.latest.should_show_dev}}
    )
    {{/package.latest.should_show}}
  </span>
</h1>
<div class="row-fluid">
  <div class="span8">
    <ul class="nav nav-tabs">
      {{#tabs}}
      <li class="{{class}}">
        <a href="#pub-pkg-tab-{{id}}" data-toggle="tab">{{title}}</a>
      </li>
      {{/tabs}}
      <li class="{{#has_no_file_tab}}active{{/has_no_file_tab}}">
        <a href="#pub-pkg-tab-installing" data-toggle="tab">Installing</a>
      </li>
      <li><a href="#pub-pkg-tab-versions" data-toggle="tab">Versions</a></li>
    </ul>

    <div class="tab-content">
      {{#tabs}}
      <div class="tab-pane {{class}}" id="pub-pkg-tab-{{id}}">
        {{&content}}
      </div>
      {{/tabs}}
      <div class="tab-pane {{#has_no_file_tab}}active{{/has_no_file_tab}}" id="pub-pkg-tab-installing">
        <h3>1. Depend on it</h3>
        <p>Add this to your package's pubspec.yaml file:</p>
<pre>
dependencies:
  <strong>{{package.name}}: {{package.selected_version.example_version_constraint}}</strong>
</pre>
        <h3>2. Install it</h3>
        <p>You can install packages from the command line:</p>
        {{& package.install_html}}
        {{#package.selected_version.has_libraries}}
          <h3>3. Import it</h3>
          <p>Now in your Dart code, you can use:
          </p>
<pre class="highlight">{{#package.selected_version.import_examples}}
<span class="import-example"><span class="k">import</span> <span class="s">'package:<strong>{{package}}</strong>/<wbr/><strong>{{library}}</strong>'</span>;</span>{{/package.selected_version.import_examples}}
</pre>
        {{/package.selected_version.has_libraries}}
      </div>

      <div class="tab-pane" id="pub-pkg-tab-versions">
        <table>
          <thead>
            <tr>
              <th>Version</th>
              <th>Uploaded</th>
              <th class="documentation" width="60">Documentation</th>
              <th class="archive" width="60">Archive</th>
            </tr>
          </thead>
          {{#versions}}
            <tr>
              <th>{{version}}</th>
              <td>{{short_created}}</td>
              <td class="documentation">
                <a href="{{documentation}}"
                   title="Go to the documentation of {{package.name}} {{version}}">
                  <i class="icon-book">
                    Go to the documentation of {{package.name}} {{version}}
                  </i>
                </a>
              </td>
              <td class="archive">
                <a href="{{download_url}}"
                   title="Download {{package.name}} {{version}} archive">
                  <i class="icon-download-alt">
                    Download {{package.name}} {{version}} archive
                  </i>
                </a>
              </td>
            </tr>
          {{/versions}}
        </table>
        {{#show_versions_link}}
          <p>
            <a href="/packages/{{package.name}}/versions">
              All {{version_count}} versions...
            </a>
          </p>
        {{/show_versions_link}}
      </div>
    </div>
  </div>
  <div class="span4 package-sidebar">
    {{{package.icons}}}
    {{#package.description}}
      <h4>About</h4>
      <p>{{package.description}}</p>
    {{/package.description}}

    <h4>{{package.authors_title}}</h4>
    <p>{{& package.authors_html}}</p>

    {{#package.homepage}}
      <h4>Homepage</h4>
      <p class="homepage"><a href="{{package.homepage}}">{{package.nice_homepage}}</a></p>
    {{/package.homepage}}

    {{#package.documentation}}
      <h4>Documentation</h4>
      <p class="main-documentation"><a href="{{package.documentation}}">{{package.nice_documentation}}</a></p>
    {{/package.documentation}}

    <h4>{{package.uploaders_title}}</h4>
    <p>{{& package.uploaders_html}}</p>

    {{#package.license_html}}
      <h4>License</h4>
      <p>{{& package.license_html}}</p>
    {{/package.license_html}}

    <h4>Published</h4>
    <p>{{package.short_created}}</p>
  </div>
</div>
<script src="/static/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
