{{! Copyright (c) 2019, the Dart project authors.  Please see the AUTHORS file
    for details. All rights reserved. Use of this source code is governed by a
    BSD-style license that can be found in the LICENSE file. }}

<h3 class="title">Email</h3>
<p>{{email}}</p>

<h3 class="title">Joined</h3>
<p>{{joined_short}}</p>
