{{! Copyright (c) 2019, the Dart project authors.  Please see the AUTHORS file
    for details. All rights reserved. Use of this source code is governed by a
    BSD-style license that can be found in the LICENSE file. }}

<h1>Authentication required</h1>

{{& message_html}}

<p>You can sign in using your Google account by clicking on the top-right "Sign in" menu.</p>
