{{! Copyright (c) 2017, the Dart project authors.  Please see the AUTHORS file
    for details. All rights reserved. Use of this source code is governed by a
    BSD-style license that can be found in the LICENSE file. }}

<h2 id="{{id}}">{{kind}} versions of {{package.name}}</h2>
<table class="version-table" data-package="{{package.name}}">
  <thead>
  <tr>
    <th class="version">Version</th>
    <th class="uploaded"><span class="label">Uploaded</span></th>
    <th class="documentation"><span class="label">Documentation</span></th>
    <th class="archive"><span class="label">Archive</span></th>
  </tr>
  </thead>
  <tbody>
  {{#version_table_rows}}{{& .}}{{/version_table_rows}}
  </tbody>
</table>
