{{! Copyright (c) 2017, the Dart project authors.  Please see the AUTHORS file
    for details. All rights reserved. Use of this source code is governed by a
    BSD-style license that can be found in the LICENSE file. }}

<tr data-version="{{version}}">
  <td class="version"><a href="{{& version_url}}">{{version}}</a></td>
  <td class="sdk">
    {{#has_sdk}}
    <code>{{ sdk }}</code>
    {{/has_sdk}}
  </td>
  <td class="uploaded">{{short_created}}</td>
  <td class="documentation">
    <a href="{{& dartdocs_url}}"
       rel="nofollow"
       title="Go to the documentation of {{package}} {{version}}">
        <img class="version-table-icon"
             src="{{& icons.documentation}}"
             {{#icons.hasDocumentationFailed}}
             data-failed-icon="{{& icons.documentationFailed }}"
             {{/icons.hasDocumentationFailed}}
             alt="Go to the documentation of {{package}} {{version}}" />
    </a>
  </td>
  <td class="archive">
    <a href="{{& download_url}}"
       rel="nofollow"
       title="Download {{package}} {{version}} archive">
      <img class="version-table-icon"
           src="{{& icons.download}}"
           alt="Download {{package}} {{version}} archive" />
    </a>
  </td>
</tr>
