{{! Copyright (c) 2019, the Dart project authors.  Please see the AUTHORS file
    for details. All rights reserved. Use of this source code is governed by a
    BSD-style license that can be found in the LICENSE file. }}

<div class="detail-header">
  <h2 class="title">{{title}}</h2>
  <div class="metadata">
    {{& metadata_html}}
    <div class="tags">{{& tags_html}}</div>
  </div>
</div>
