{{! Copyright (c) 2020, the Dart project authors.  Please see the AUTHORS file
    for details. All rights reserved. Use of this source code is governed by a
    BSD-style license that can be found in the LICENSE file. }}

{{#has_banners}}
<div class="detail-banners">
  {{#is_flutter_favorite}}
  <a href='https://flutter.dev/docs/development/packages-and-plugins/favorites'>
    <img src="{{{static_assets.img__ff-banner-desktop-2x_png}}}"
         class="ff-banner ff-banner-desktop"
         title="Package is a Flutter Favorite" />
    <img src="{{{static_assets.img__ff-banner-mobile-2x_png}}}"
         class="ff-banner ff-banner-mobile"
         title="Package is a Flutter Favorite" />
  </a>
  {{/is_flutter_favorite}}
</div>
{{/has_banners}}

<div class="detail-header{{#is_loose}} -is-loose{{/is_loose}}">
  <div class="detail-container">
    <div class="detail-header-outer-block">
      {{#has_image_url}}
      <div class="detail-header-image-block">
        <img src="{{image_url}}" class="detail-header-image" />
      </div>
      {{/has_image_url}}
      <div class="detail-header-content-block">
        <h1 class="title">{{#is_publisher}}<img
            class="-pub-publisher-shield"
            height="48" width="48"
            title="Domain ownership verifed by pub.dev"
            src="{{{static_assets.img__verified-publisher-blue_svg}}}" />{{/is_publisher}}{{title}}</h1>
        <div class="metadata">{{& metadata_html}}</div>
        <div class="detail-tags-and-like">
          <div class="detail-tags">{{& tags_html}}</div>
          <div class="detail-like">
            {{#has_likes}}
              <button
                  id="-pub-like-icon-button"
                  class="mdc-icon-button{{#is_liked}} mdc-icon-button--on{{/is_liked}}"
                  aria-label="{{#is_liked}}Unlike{{/is_liked}}{{^is_liked}}Like{{/is_liked}} this package"
                  data-ga-click-event="toggle-like"
                  aria-hidden="true"
                  aria-pressed="true">
                <img
                    height="18"
                    width="18"
                    src="{{{static_assets.img__like-inactive_svg}}}"
                    class="mdc-icon-button__icon"/>
                <img
                    height="18"
                    width="18"
                    src="{{{static_assets.img__like-active_svg}}}"
                    class="mdc-icon-button__icon mdc-icon-button__icon--on"/>
              </button>
              <span class="likes-count"><span id="likes-count">{{like_count}}</span></span>
            {{/has_likes}}
          </div>
        </div>
      </div>
      </div>
    </div>
</div>
