{{! Copyright (c) 2019, the Dart project authors.  Please see the AUTHORS file
    for details. All rights reserved. Use of this source code is governed by a
    BSD-style license that can be found in the LICENSE file. }}

<div class="detail-header">
  {{#is_flutter_favorite}}
  <a href='https://flutter.dev/docs/development/packages-and-plugins/favorites'>
    <img
      class="ff-badge"
      src="{{{static_assets.img__ff_svg}}}"
      height="100" width="100"
      title="Package is a Flutter Favorite"/>
  </a>
  {{/is_flutter_favorite}}    
  <h2 class="title">{{#is_publisher}}<img
    class="-pub-publisher-shield"
    height="48" width="48"
    title="Domain ownership verifed by pub.dev"
    src="{{{static_assets.img__verified-publisher-blue_svg}}}" />{{/is_publisher}}{{title}}</h2>
  <div class="metadata">
    {{& metadata_html}}
    {{#has_likes}}
    <div class="-pub-likes" >
      <div>
        {{#is_liked}}
        <button
          id="-pub-like-icon-button"
          class="mdc-icon-button mdc-icon-button--on"
          aria-label="Unlike this package"
          data-ga-click-event="toggle-like"
          aria-hidden="true"
          aria-pressed="true">
        {{/is_liked}}
        {{^is_liked}}
        <button
          id="-pub-like-icon-button"
          class="mdc-icon-button"
          aria-label="Like this package"
          data-ga-click-event="toggle-like"
          aria-hidden="true"
          aria-pressed="true">
        {{/is_liked}}
          <img
            height="18"
            src="{{{static_assets.img__thumb-up-24px_svg}}}"
            class="mdc-icon-button__icon"/>
          <img
            height="18"
            width="18"
            src="{{{static_assets.img__thumb-up-filled-24px_svg}}}"
            class="mdc-icon-button__icon mdc-icon-button__icon--on"/>
        </button>
       <span id="likes-count">{{like_count}}</span> likes</div></div>
    {{/has_likes}}
    <div class="tags">{{& tags_html}}</div>
 </div></div>
