{{! Copyright (c) 2019, the Dart project authors.  Please see the AUTHORS file
    for details. All rights reserved. Use of this source code is governed by a
    BSD-style license that can be found in the LICENSE file. }}

<div class="detail-header">
  <h2 class="title">{{#is_publisher}}<img
    class="-pub-publisher-shield"
    height="48" width="48"
    title="Domain ownership verifed by pub.dev"
    src="{{{static_assets.img__verified-publisher-blue_svg}}}" />{{/is_publisher}}{{title}}</h2>
  <div class="metadata">
    {{& metadata_html}}
    <div class="tags">{{& tags_html}}</div>
  </div>
</div>
