{{! Copyright (c) 2019, the Dart project authors.  Please see the AUTHORS file
    for details. All rights reserved. Use of this source code is governed by a
    BSD-style license that can be found in the LICENSE file. }}

<div class="detail-wrapper -active">
  {{& header_html}}

  <div class="detail-body">
    {{& tabs_html}}

    {{#info_box_html}}
      <aside class="detail-info-box">
        {{& info_box_html}}
      </aside>
    {{/info_box_html}}
  </div>

  {{& footer_html}}
</div>
