{{! Copyright (c) 2019, the Dart project authors.  Please see the AUTHORS file
    for details. All rights reserved. Use of this source code is governed by a
    BSD-style license that can be found in the LICENSE file. }}
<ul class="detail-tabs-header">
  {{#tabs}}
    <li class="{{title_classes}}" data-name="-{{id}}-tab-" role="button">{{& title_html}}</li>
  {{/tabs}}
</ul>
<div class="main detail-tabs-content">
  {{#tabs}}
    {{#has_content}}
    <section class="{{content_classes}}" data-name="-{{id}}-tab-">
      {{& content_html}}
    </section>
    {{/has_content}}
  {{/tabs}}
</div>
