{{! Copyright (c) 2019, the Dart project authors.  Please see the AUTHORS file
    for details. All rights reserved. Use of this source code is governed by a
    BSD-style license that can be found in the LICENSE file. }}

<div class="detail-tabs-wide-header">
  <div class="detail-container">
    <ul class="detail-tabs-header">
      {{#tabs}}
        <li class="{{title_classes}}" {{^has_href}}data-ga-click-event="tab:{{id}}" {{/has_href}}data-name="-{{id}}-tab-" role="button">{{& title_html}}</li>
      {{/tabs}}
    </ul>
  </div>
</div>

<div class="detail-container detail-body-main">
  <div class="detail-tabs-content">
    {{#tabs}}
      {{#has_content}}
      <section class="{{content_classes}}" data-name="-{{id}}-tab-">
        {{& content_html}}
      </section>
      {{/has_content}}
    {{/tabs}}
  </div>
</div>
