{{! Copyright (c) 2020, the Dart project authors.  Please see the AUTHORS file
    for details. All rights reserved. Use of this source code is governed by a
    BSD-style license that can be found in the LICENSE file. }}

{{& sort_control_html }}

{{#has_title}}
  <h2 class="listing-page-title">{{title}}</h2>
{{/has_title}}

{{#has_search_query}}
  <p class="package-count"><span>{{total_count}}</span> results for <code>{{search_query}}</code></p>
{{/has_search_query}}
