{{! Copyright (c) 2020, the Dart project authors.  Please see the AUTHORS file
    for details. All rights reserved. Use of this source code is governed by a
    BSD-style license that can be found in the LICENSE file. }}

<div class="listing-info">
  <div class="listing-info-count">
    <span class="info-identifier">Results</span>
    <span class="count">{{ total_count }}</span>
    {{ package_or_packages }}

    {{#has_search_query}}
    for search query <code>{{ search_query }}</code>
    {{/has_search_query}}

    {{#has_owned_by}}
    owned by <code>{{ owned_by }}</code>
    {{/has_owned_by}}
  </div>
  {{& sort_control_html }}
</div>
