{{! Copyright (c) 2019, the Dart project authors.  Please see the AUTHORS file
    for details. All rights reserved. Use of this source code is governed by a
    BSD-style license that can be found in the LICENSE file. }}

<div class="_banner-bg">
  <div class="container">
    <div class="{{& banner_class}}">
      {{#show_landing}}
      <h2 class="_visuallyhidden">Dart package manager</h2>
      <img class="logo" src="{{{landing_banner_image}}}" alt="{{landing_banner_alt}}" />
      {{/show_landing}}
      <form class="search-bar" action="{{& search_form_url}}">
        <input class="input" name="q" placeholder="{{search_query_placeholder}}" autocomplete="on" autofocus="autofocus"{{#search_query_html}} value="{{& search_query_html}}"{{/search_query_html}}/>
        <button class="icon"></button>
        {{#show_details}}
        {{#search_sort_param}}<input type="hidden" name="sort" value="{{search_sort_param}}"/>{{/search_sort_param}}
        <input id="search-legacy-field" type="hidden" name="legacy" value="1"{{^legacy_search_enabled}} disabled="disabled"{{/legacy_search_enabled}} />
        {{/show_details}}
        {{#hidden_inputs}}
        <input type="hidden" name="{{name}}" value="{{value}}" />
        {{/hidden_inputs}}
      </form>
      {{#show_details}}
      <div class="search-bar-details">
        {{& search_tabs_html }}
        <div class="search-bar-options">
          {{#show_legacy_checkbox}}
          <input id="search-legacy-checkbox" type="checkbox" name="legacy" valye="1" {{#legacy_search_enabled}} checked="checked"{{/legacy_search_enabled}} />
          <label for="search-legacy-checkbox">Include Dart 1.x results</label>
          {{/show_legacy_checkbox}}
          {{& secondary_tabs_html }}
        </div>
      </div>
      {{/show_details}}
      {{#show_landing}}
        {{& search_tabs_html }}
        {{& landing_blurb_html }}
      {{/show_landing}}
    </div>
  </div>
</div>
