{{! Copyright (c) 2020, the Dart project authors.  Please see the AUTHORS file
    for details. All rights reserved. Use of this source code is governed by a
    BSD-style license that can be found in the LICENSE file. }}
<header class="site-header-row">
  <div class="site-header">
    <h1 class="_visuallyhidden">Dart pub</h1>
    <button class="hamburger"></button>
    <div class="mask"></div>
    <div class="nav-wrap">
      <div class="nav-header"><a class="logo" href="/"><img src="{{& site_logo_url}}" alt="dart pub logo" /></a>
        <div class="_flex-space"></div>
        <button class="close"></button>
      </div>
      <nav class="site-nav">
        <span>Getting Started:</span>
        <div class="sub-wrap hoverable">
          <button class="button">Flutter</button>
          <div class="sub-nav">
            <a class="link" target="_blank" rel="noopener" href="https://flutter.io/using-packages/">Using packages</a>
            <a class="link" target="_blank" rel="noopener" href="https://flutter.io/developing-packages/">Developing packages and plugins</a>
            <a class="link" target="_blank" rel="noopener" href="{{& dart_site_root}}/tools/pub/publishing">Publishing a package</a>
            <a class="link" target="_blank" rel="noopener" href="{{& dart_site_root}}/tools/pub">Pub tool</a>
          </div>
        </div>
        <div class="sub-wrap hoverable">
          <button class="button">Web &amp; Server</button>
          <div class="sub-nav">
            <a class="link" target="_blank" rel="noopener" href="{{& dart_site_root}}/tools/pub/get-started">Using packages</a>
            <a class="link" target="_blank" rel="noopener" href="{{& dart_site_root}}/tools/pub/publishing">Publishing a package</a>
            <a class="link" target="_blank" rel="noopener" href="{{& dart_site_root}}/tools/pub">Pub tool</a>
          </div>
        </div>
      </nav>
      <div>&nbsp;</div>
    </div>
    <div id="account-nav">
      {{^is_logged_in}}
      <a id="-account-login" class="link">Sign in</a>
      {{/is_logged_in}}
      {{#is_logged_in}}
      <div id="-account-profile" class="sub-wrap hoverable">
        <img class="profile-img" id="-account-profile-img" src="{{& user_session.image_url}}" />
        <div class="sub-nav sub-nav-right">
          <div class="account-nav-info"><span id="-account-profile-email">{{user_session.email}}</span></div>
          <div class="account-nav-divider"></div>
          <div class="account-nav-link"><a href="{{& my_packages_url}}">My packages</a></div>
          <div class="account-nav-link"><a href="{{& my_liked_packages_url}}">My liked packages</a></div>
          <div class="account-nav-link"><a href="{{& my_publishers_url}}">My publishers</a></div>
          <div class="account-nav-link"><a href="{{& create_publisher_url}}">Create publisher</a></div>
          <div class="account-nav-divider"></div>
          <div class="account-nav-link"><a id="-account-logout" class="link">Sign out</a></div>
        </div>
      </div>
      {{/is_logged_in}}
    </div>
  </div>
</header>
