{{! Copyright (c) 2019, the Dart project authors.  Please see the AUTHORS file
    for details. All rights reserved. Use of this source code is governed by a
    BSD-style license that can be found in the LICENSE file. }}

<div class="listing-sort-header">
  <div class="tooltip-base hoverable">
    <span class="tooltip-dotted">Sorted by:</span>
    <select id="sort-control">
      {{#options}}
      <option value="{{value}}"{{#selected}} selected="selected"{{/selected}}>{{label}}</option>
      {{/options}}
    </select>
    <div class="tooltip-content tooltip-bottom-left">
      {{& ranking_tooltip_html }}
    </div>
  </div>
</div>
