{{! Copyright (c) 2012, the Dart project authors.  Please see the AUTHORS file
    for details. All rights reserved. Use of this source code is governed by a
    BSD-style license that can be found in the LICENSE file. }}

<h1>Admin Console</h1>

<div class="admin">
  <ul>
    <li class="active"><a href="#tab-packages" data-toggle="tab">Packages</a></li>
    <li>
      <a href="#tab-private-keys" data-toggle="tab">Private Keys</a>
    </li>
  </ul>
  <div>
    <div class="active" id="tab-packages">
      {{#reload_status}}
        <div class="reload">
          <h3>
            Reloading Packages:
            <span class="count">{{count}}</span>/<span class="total">{{total}}</span>
          </h3>

          <div class="progress active">
            <div class="bar" style="width: {{percentage}}"></div>
          </div>
        </div>
      {{/reload_status}}

      <form method="POST" action="/packages/versions/reload">
        <button type="submit">Reload package metadata from archives.</button>
      </form>
    </div>
    <div id="tab-private-keys">
      {{#private_keys_set}}
        <h4 class="alert">
          Note: the private keys have already been set.
        </h4>
      {{/private_keys_set}}
      {{^private_keys_set}}
        {{^production}}
          <p class="alert alert-info">
            In development, the private keys may be any string.
          </p>
        {{/production}}
      {{/private_keys_set}}

      <form action="/private-keys" method="POST" id="private-key">
        <h3>OAuth2 Key</h3>
        <textarea name="oauth_key" rows="8" cols="64"></textarea>
        <h3>Google API Key</h3>
        <textarea name="api_key" rows="1" cols="64"></textarea>
        <button type="submit">Set Keys</button>
      </form>
    </div>
  </div>
</div>
