{{! Copyright (c) 2012, the Dart project authors.  Please see the AUTHORS file
    for details. All rights reserved. Use of this source code is governed by a
    BSD-style license that can be found in the LICENSE file. }}

<h1>Pub Authorized Successfully</h1>

<p>
  The <code>pub</code> client has been successfully authorized. You may now
  use it to upload packages and perform other tasks.
</p>
