{{! Copyright (c) 2017, the Dart project authors.  Please see the AUTHORS file
    for details. All rights reserved. Use of this source code is governed by a
    BSD-style license that can be found in the LICENSE file. }}
<div style="max-width: 600px">
  <h2 id="search">Search</h2>
  <p>We support the following search expressions:</p>
  <ul>
    <li><code>"exact phrase"</code>: By default, when you perform a search,
    the results include packages with similar phrases. When a phrase is inside
    quotes, you'll see only those packages that contain exactly the specified
    phrase.</li>
    <li><code>package:prefix</code>: Searches for packages that begin with
    <code>prefix</code>. Use this feature to find packages in the same framework.
    </li>
    <li><code>dependency:package_name</code>: Searches for packages that reference
    <code>package_name</code> in their pubspec.</li>
    <li><code>dependency*:package_name</code>: Searches for packages that depend
    on <code>package_name</code> (as direct, dev, or transitive dependencies).
    </li>
  </ul>
  <h2 id="scoring">Scoring</h2>
  <p>
    For each package, this site displays an <b>overall score</b>, calculated
    from scores for the package's <a href="#popularity">popularity</a>,
    <a href="#health">health</a>, and <a href="#maintenance">maintenance</a>.
  </p>

  <h3 id="popularity">Popularity</h3>
  <p>
    The popularity score—representing how often a package is used—is derived
    from download statistics. Although this score is based on actual download
    counts, it compensates for automated tools such as continuous builds that
    fetch the package on each change request.
  </p>

  <p><i>How can you improve your popularity score?</i></p>
  <p>Create useful packages that others need and love to use.</p>

  <h3 id="health">Health</h3>
  <p>
    The code health score is based on static analysis of the package with
    <code>dartanalyzer</code>.
  </p>
  <p><i>How can you improve your health score?</i></p>
  <p>Use strong-mode checks and linter rules, and make sure you fix all warnings
  and errors before publishing. Here's an example of
  <a href="https://www.dartlang.org/guides/language/analysis-options">specifying
  checks and rules</a> using <code>analysis_options.yaml</code>:</p>
  <pre><code class="language-yaml"># https://www.dartlang.org/guides/language/analysis-options
analyzer:
  strong-mode: true

# Source of linter options:
# http://dart-lang.github.io/linter/lints/options/options.html
linter:
  rules:
    - camel_case_types
    - hash_and_equals
    - iterable_contains_unrelated_type
    - list_remove_unrelated_type
    - unrelated_type_equality_checks
    - valid_regexps
  </code></pre>

  <h3 id="maintenance">Maintenance</h3>

  <p>
    The maintenance score reflects how tidy and up-to-date a package is.
    Here are some of the factors that influence this score:
  </p>
  <ul>
    <li>Last publish date: Best if the package has been published within one year.
    </li>
    <li>Up-to-date dependencies: Best if all of the package's dependencies are on
    the latest version.</li>
    <li>README, CHANGELOG, and example files: Best if all are present. For
    information on how to provide these files, see the
    <a href="https://www.dartlang.org/tools/pub/package-layout">pub package layout
    conventions</a>.</li>
    <li><code>analysis_options.yaml</code>: Best if this file is present, with
    strong mode enabled. For more information, see
    <a href="https://www.dartlang.org/guides/language/analysis-options">Customize
    Static Analysis</a>.</li>
  </ul>

  <p><i>How can you improve your maintenance score?</i></p>
  <p>
    Click your package's overall score to see the Analysis page, which has
    suggestions for improving the package's score. You can find the overall score
    either near the top of the package's page or to the right of your package in
    any listing on this site. To get suggestions before publishing, run
    <a href="https://pub.dartlang.org/packages/pana">pana</a> manually.
  </p>


  <h2 id="ranking">Ranking</h2>
  <p>
    Default listings use the overall score to sort packages. When a user
    searches, the sort order is based on both the overall score and the text
    match relevancy.
  </p>
  <p>
    Each package's overall score is visible at the side of the results,
    regardless of the sort order.
  </p>
</div>

<script src="/static/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
