{{! Copyright (c) 2012, the Dart project authors.  Please see the AUTHORS file
    for details. All rights reserved. Use of this source code is governed by a
    BSD-style license that can be found in the LICENSE file. }}

<div class="intro">
  <h1>Welcome to pub.dartlang.org!</h1>
  <p>
    This is your friendly repository of packages of software for the
    <a href="http://dartlang.org">Dart programming language</a>. Explore
    packages here and install them using <strong>pub</strong>, the package
    manager for Dart.
  </p>
  <a class="get-started"
      href="https://www.dartlang.org/tools/pub/get-started.html">
    Get started
  </a>
</div>
<h2>Recently updated packages</h2>
<table>
  <thead>
    <tr>
      <th>Package</th>
      <th>Version</th>
      <th>Description</th>
      <th width="100">Updated</th>
    </tr>
  </thead>
  <tbody>
    {{#recent_packages}}
      <tr>
        <th><a href="/packages/{{name}}">{{name}}</a></th>
        <td><span class="version">{{latest_version.version}}</span></td>
        <td>{{#description}}{{ellipsized_description}}{{/description}}</td>
        <td>{{short_updated}}</td>
      </tr>
    {{/recent_packages}}
  </tbody>
  <tfoot>
    <tr>
      <td colspan="4"><a href="/packages">More packages...</a></td>
    </tr>
  </tfoot>
</table>
