{{! Copyright (c) 2017, the Dart project authors.  Please see the AUTHORS file
    for details. All rights reserved. Use of this source code is governed by a
    BSD-style license that can be found in the LICENSE file. }}

<div class="home-lists-container">
  <div class="landing-page-title-block">
    <div class="tooltip-base">
      <h2 class="center landing-page-title tooltip-dotted">{{top_header}}</h2>
      <div class="tooltip-content">
        {{& ranking_tooltip_html }}
      </div>
    </div>
  </div>
  {{& top_html}}
  <div class="more">
    <a href="{{{packages_url}}}">{{more_packages}}</a>
  </div>
</div>
