{{! Copyright (c) 2017, the Dart project authors.  Please see the AUTHORS file
    for details. All rights reserved. Use of this source code is governed by a
    BSD-style license that can be found in the LICENSE file. }}
<!DOCTYPE html>
<html lang="en-us">
<head>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-26406144-13"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-26406144-13');
  </script>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  {{#no_index}}
  <meta name="robots" content="noindex" />
  {{/no_index}}
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@dart_lang" />
  <meta property="og:site_name" content="Dart Packages" />
  <title>{{title}}</title>
  <meta property="og:title" content="{{title}}" />
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet" />
  <meta itemprop="image" content="{{{static_assets_dir}}}/img/dart-logo-400x400.png" />
  <meta property="og:image" content="{{{static_assets_dir}}}/img/dart-logo-400x400.png" />
  {{#favicon}}
  <link rel="shortcut icon" href="{{{favicon}}}" />
  {{/favicon}}
  {{#canonicalUrl}}
  <link rel="canonical" href="{{{canonicalUrl}}}"/>
  <meta property="og:url" content="{{{canonicalUrl}}}" />
  {{/canonicalUrl}}
  <meta name="description" content="{{pageDescription}}" />
  <meta property="og:description" content="{{pageDescription}}" />
  <link rel="alternate" type="application/atom+xml" title="Updated Packages Feed for Pub" href="/feed.atom" />
  <link href="{{{static_assets_dir}}}/highlight/github.css" rel="stylesheet" />
  <link href="{{{static_assets.style_css}}}" rel="stylesheet" type="text/css" />
  <script src="{{{static_assets.script_dart_js}}}" defer></script>
  {{#include_survey}}
  <script async="" defer="" src="//www.google.com/insights/consumersurveys/async_survey?site=5wdvu4vc5lhop3xbatxof6lzcm"></script>
  {{/include_survey}}
</head>
<body>
<header class="site-header">
  <h1 class="_visuallyhidden">Dart pub</h1>
  <button class="hamburger"></button>
  <div class="mask"></div>
  <div class="nav-wrap">
    <div class="nav-header"><a class="logo" href="/"><img src="{{{static_assets_dir}}}/img/dart-logo.svg" alt="dart pub logo"></a>
      <div class="_flex-space"></div>
      <button class="close"></button>
    </div>
    <nav class="site-nav">
      <span>Getting Started:</span>
      <div class="sub-wrap hoverable">
        <button class="button">Flutter</button>
        <div class="sub-nav">
          <a class="link" target="_blank" href="https://flutter.io/using-packages/">Using Packages</a>
          <a class="link" target="_blank" href="https://flutter.io/developing-packages/">Developing Packages and Plugins</a>
        </div>
      </div>
      <div class="sub-wrap hoverable">
        <button class="button">Web &amp; Server</button>
        <div class="sub-nav">
          <a class="link" target="_blank" href="https://www.dartlang.org/tools/pub/get-started">Using Packages</a>
          <a class="link" target="_blank" href="https://www.dartlang.org/tools/pub/publishing">Publishing a Package</a>
          <a class="link" target="_blank" href="https://www.dartlang.org/tools/pub">Overview</a>
        </div>
      </div>
    </nav>
  </div>
</header>

{{#package_banner}}
  <div class="_banner-bg">
    <main class="package-banner">
      <form class="search-bar" action="/{{#search_platform}}{{search_platform}}/{{/search_platform}}packages">
        <input class="input" name="q" placeholder="{{search_query_placeholder}}" autocomplete="on" autofocus />
        <button class="icon"></button>
      </form>
    </main>
  </div>
{{/package_banner}}

{{#listing_banner}}
  <div class="_banner-bg">
    <main class="package-banner">
      <form class="search-bar" action="/{{#search_platform}}{{search_platform}}/{{/search_platform}}packages">
        <input class="input" name="q" placeholder="{{search_query_placeholder}}" autocomplete="on" autofocus{{#search_query}} value="{{search_query}}"{{/search_query}}>
        <button class="icon"></button>
        {{#search_sort_param}}<input type="hidden" name="sort" value="{{search_sort_param}}"/>{{/search_sort_param}}
        <input id="search-api-field" type="hidden" name="api" value="0"{{#api_search_enabled}} disabled="disabled"{{/api_search_enabled}} />
      </form>
      <div class="search-bar-details">
        {{& platform_tabs_html }}
        <div class="search-bar-options">
            <input id="search-api-checkbox" type="checkbox" name="api"{{#api_search_enabled}} checked="checked"{{/api_search_enabled}} /> Include API results
        </div>
      </div>
    </main>
  </div>
{{/listing_banner}}

{{#landing_banner}}
  <div class="_banner-bg">
    <main class="home-banner">
      <h2 class="_visuallyhidden">Dart package manager</h2>
      <img class="logo" src="{{{static_assets_dir}}}/img/{{{landing_banner_image}}}" alt="{{landing_banner_alt}}" />
      <form class="search-bar" action="/{{#search_platform}}{{search_platform}}/{{/search_platform}}packages">
        <input class="input" name="q" placeholder="{{search_query_placeholder}}" autocomplete="on" autofocus />
        <button class="icon"></button>
      </form>
      {{& platform_tabs_html }}
      {{& landing_blurb_html }}
    </main>
  </div>
{{/landing_banner}}

<main>
  {{& content_html}}
</main>

<footer class="site-footer">
  <a class="link" href="https://www.dartlang.org/">Dart language</a>
  <a class="link" href="https://www.google.com/intl/en/policies/terms/">Terms</a>
  <a class="link" href="https://www.google.com/intl/en/policies/privacy/">Privacy</a>
  <a class="link" href="/help">Help</a>
  <a class="link github_issue" href="https://github.com/dart-lang/pub-dartlang-dart/issues/new">Report an issue</a>
</footer>
{{#include_highlight}}
<script src="{{{static_assets_dir}}}/highlight/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
{{/include_highlight}}
{{#schema_org_searchaction_json}}
<script type="application/ld+json">
{{& schema_org_searchaction_json}}
</script>
{{/schema_org_searchaction_json}}
</body>
</html>
