{{! Copyright (c) 2012, the Dart project authors.  Please see the AUTHORS file
    for details. All rights reserved. Use of this source code is governed by a
    BSD-style license that can be found in the LICENSE file. }}

<div class="pagination">
  <ul>
    {{#page_links}}
      <li {{#state}}class="{{state}}"{{/state}}>
        {{#href}}
        <a href="{{href}}">
          <span>{{{text}}}</span>
        </a>
        {{/href}}
        {{^href}}
        <span>{{{text}}}</span>
        {{/href}}
      </li>
    {{/page_links}}
  </ul>
</div>
