{{! Copyright (c) 2012, the Dart project authors.  Please see the AUTHORS file
    for details. All rights reserved. Use of this source code is governed by a
    BSD-style license that can be found in the LICENSE file. }}

<div class="pagination">
  <ul>
    {{#page_links}}
      <li class="{{#active}}active{{/active}}{{#disabled}}disabled{{/disabled}}">
        {{#render_link}}
        <a href="{{href}}">
          <span>{{{text}}}</span>
        </a>
        {{/render_link}}
        {{^render_link}}
        <span>{{{text}}}</span>
        {{/render_link}}
      </li>
    {{/page_links}}
  </ul>
</div>
