{{! Copyright (c) 2012, the Dart project authors.  Please see the AUTHORS file
    for details. All rights reserved. Use of this source code is governed by a
    BSD-style license that can be found in the LICENSE file. }}

<h1>Search Results for &ldquo;{{query}}&rdquo;</h1>
{{#hasResults}}
  <table class="search-results">
  <tbody>
{{/hasResults}}
{{#results}}
  <tr>
    <td>{{{icons}}}</td>
  <td>
  <h3>
    <a href="{{url}}">{{name}}</a>
    <span style="font-weight: normal; font-size: smaller">
    {{^show_dev_version}}
      (<a href="{{url}}">{{version}}</a>)
    {{/show_dev_version}}
    {{#show_dev_version}}
      (latest: <a href="{{url}}">{{version}}</a> /
               <a href="{{url}}/versions/{{dev_version_href}}">{{dev_version}}</a>)
    {{/show_dev_version}}
    </span>
  </h3>
  <p>{{desc}}</p>
  <p><small>last updated {{last_uploaded}}</small></p>
  </td>
  </tr>
{{/results}}
{{#hasResults}}
  </tbody>
  </table>
{{/hasResults}}
{{^hasResults}}
  <p>Search for &ldquo;{{query}}&rdquo; did not match any packages.</p>
{{/hasResults}}

{{{pagination}}}
